@import "defaults.scss";

$searchbarcolor: #e8e8e8;

body {

    #page {

        #right {

            #text {

                display:            flex;
                flex-direction:     column;
                /*height:             calc(100vh - 13vw*.35);
                overflow-y:         hidden;*/

                .entity {

                    padding:            0;
                    font-size:          100%;

                    #headline {

                        font-size:          125%;
                        color:              #8c8c8c;
                        background-color:   #f3f3f3;
                        display:            block;
                        padding:            20px 15px 12px 23px;

                        #title {

                            .fa {
                                height:             20px;
                            }

                            margin:             0;
                            padding-bottom:     10px;

                        }

                        #controls {

                            display:            flex;
                            flex-direction:     column;

                            /*#new {

                                display: flex;

                                button {
                                    border-radius:          4px;
                                    margin:                 6px 0px 6px 0px;
                                    padding:                0px 10px;
                                }

                            }*/

                            #search {

                                margin-bottom:      5px;

                                .StreamFilterDiv {

                                    display:            inline-block;
                                    padding:            2px 3px 2px 17px;
                                    font-size:          9pt;

                                    .group {

                                        margin-right:       0;
                                        position:           relative;

                                        #search {
                                            background-color:   $searchbarcolor;
                                            padding:            4px 6px 4px 23px;
                                            width:              40vw;
                                            border:             0;
                                            border-radius:      4px;
                                        }

                                        #sign1 {
                                            position:           absolute;
                                            top:                4px;
                                            right:              calc(100% - 18px);
                                            font-size:          10pt;
                                            color:              #AAAAAA;
                                        }

                                        #filter {
                                            background-color:   $searchbarcolor;
                                            padding:            4px 6px 4px 23px;
                                            width:              40vw;
                                            border:             0;
                                            border-radius:      4px;
                                        }

                                        #sign {
                                            position:           absolute;
                                            top:                4px;
                                            right:              calc(100% - 18px);
                                            font-size:          10pt;
                                            color:              #AAAAAA;
                                        }

                                    }

                                }

                                #take {

                                    display:            inline-block;

                                    select {

                                        border:             0;
                                        padding:            4px 6px;
                                        outline:            0;
                                        background-color:   #e8e8e8;

                                        option {
                                            padding:            2px 3px;
                                        }

                                    }

                                }


                                button {
                                    border:             0;
                                    background-color:   #e4e4e4;
                                    border-radius:      50%;
                                    outline:            none;
                                    width:              28px;
                                    height:             28px;
                                    font-size:          80%;
                                    color:              black;
                                    margin:             0px 2px;
                                }

                                button[disabled] {
                                    background:         none;
                                    cursor:             not-allowed;
                                }

                                button[disabled]:hover {
                                    background:         none;
                                    cursor:             not-allowed;
                                }

                                button[disabled].busy {
                                    background-color:   #e4e4e4;
                                    color:              black;
                                }

                                button[disabled].busyActive {
                                    background-color:   #ffab66;
                                }

                                button.busy {
                                    background-color:   #e4e4e4;
                                    color:              black;
                                }

                                button:hover {
                                    background-color:   #ffd5b2;
                                }

                                button:active {
                                    background-color:   #ffab66;
                                }


                                #searchButton {
                                    display:            inline-block;
                                }

                                #leftButton {
                                    display:            inline-block;
                                }

                                #rightButton {
                                    display:            inline-block;
                                }


                                #dateFilters {

                                    margin:             5px 0px 0px 30px;

                                    #dateFrom {
                                        display:            inline-block;
                                    }

                                    #dateTo {
                                        display:            inline-block;
                                        margin-left:        20px;
                                    }

                                    label {
                                        font-size:          80%;
                                    }

                                    .datepicker {

                                        display:            inline-block;
                                        position:           relative;

                                        input {
                                            background-color:   #e8e8e8;
                                            padding:            4px 23px 4px 6px;
                                            border:             0;
                                            border-radius:      4px;
                                        }

                                        i {
                                            font-size:          83%;
                                            position:           absolute;
                                            right:              5px;
                                            top:                5px;
                                        }

                                    }

                                }
                            }

                            #searchButtons {

                                margin-top:     12px;

                                button {
                                    padding:        2px 6px;
                                    /*border-radius:  3px;*/
                                }

                            }

                        }

                    }

                    #message {
                        padding:        5px 30px;
                        font-size:      80%;
                        color:          #707070;
                    }

                    #resultsBox {

                        /*overflow-y:     scroll;*/

                        .searchResults {

                            display:            flex;
                            flex-direction:     column;
                            cursor:             pointer;

                            .searchResult {

                                position:           relative;
                                display:            block;
                                padding:            10px 11px 8px 16px;
                                margin-bottom:      2px;
                                color:              black;
                                background-color:   rgba(136, 136, 136, 0.1);
                                text-decoration:    none;

                                .I18N {

                                    display:            table;

                                    .I18NLanguage {

                                        display:            table-cell;
                                        font-size:          80%;
                                        color:              #888888;
                                        vertical-align:     top;

                                        p {
                                            background:         rgba(136, 136, 136, 0.38);
                                            border-radius:      4px;
                                            padding:            0 5px 2px 5px;
                                            margin:             0;
                                        }

                                    }

                                    .I18NValue {
                                        display:            table-cell;
                                        padding-left:       6px;
                                    }

                                }

                                .properties {

                                    display:            table;
                                    margin-top:         8px;
                                    font-size:          90%;

                                    .property {

                                        display:            table-row;

                                        .key {
                                            display:            table-cell;
                                            padding:            0px 15px 3px 0px;
                                        }

                                        .value {
                                            display:            table-cell;
                                            padding:            0px 0px 3px 0px;
                                        }

                                    }

                                }

                            }

                            .searchResult:hover {
                                background-color:   rgba(255, 115, 0, 0.2);
                            }

                        }

                    }

                }

            }

        }

    }

}
