@import "../defaults/_defaults.scss";
@import "../defaults/datePicker.scss";

//$searchbarColor:                    #e8e8e8;
$searchbarColor:                    #f38124;
$searchbarBackgroundColor:          #e8e8e8;
$searchbarBackgroundColorFocus:     #ffd5b3;
$searchbarcolor:                    #e8e8e8;

body {

    #page {

        #right {

            #text {

                .entity {

                    #controls {

                        display:            flex;
                        flex-direction:     column;

                        #search {

                            margin-bottom:      5px;

                            .StreamFilterDiv {

                                display:            inline-block;
                                padding:            2px 3px 2px 17px;
                                font-size:          9pt;

                                .group {

                                    margin-right:       0;
                                    position:           relative;

                                    #search {
                                        background-color:   $searchbarcolor;
                                        padding:            4px 6px 4px 23px;
                                        width:              40vw;
                                        border:             0;
                                        border-radius:      4px;
                                    }

                                    #sign1 {
                                        position:           absolute;
                                        top:                4px;
                                        right:              calc(100% - 18px);
                                        font-size:          10pt;
                                        color:              #AAAAAA;
                                    }

                                    #filter {
                                        background-color:   $searchbarcolor;
                                        padding:            4px 6px 4px 23px;
                                        width:              40vw;
                                        border:             0;
                                        border-radius:      4px;
                                    }

                                    #sign {
                                        position:           absolute;
                                        top:                4px;
                                        right:              calc(100% - 18px);
                                        font-size:          10pt;
                                        color:              #AAAAAA;
                                    }

                                }

                            }

                            #take {

                                display:            inline-block;

                                select {

                                    border:             0;
                                    padding:            4px 6px;
                                    outline:            0;
                                    background-color:   #e8e8e8;

                                    option {
                                        padding:            2px 3px;
                                    }

                                }

                            }


                            button {
                                border:             0;
                                background-color:   #e4e4e4;
                                border-radius:      50%;
                                outline:            none;
                                width:              28px;
                                height:             28px;
                                font-size:          80%;
                                color:              black;
                                margin:             0px 2px;
                            }

                            button[disabled] {
                                background:         none;
                                cursor:             not-allowed;
                            }

                            button[disabled]:hover {
                                background:         none;
                                cursor:             not-allowed;
                            }

                            button[disabled].busy {
                                background-color:   #e4e4e4;
                                color:              black;
                            }

                            button[disabled].busyActive {
                                background-color:   #ffab66;
                            }

                            button.busy {
                                background-color:   #e4e4e4;
                                color:              black;
                            }

                            button:hover {
                                background-color:   #ffd5b2;
                            }

                            button:active {
                                background-color:   #ffab66;
                            }


                            #searchButton {
                                display:            inline-block;
                            }

                            #leftButton {
                                display:            inline-block;
                            }

                            #rightButton {
                                display:            inline-block;
                            }


                            #dateFilters {

                                margin:             5px 0px 0px 30px;

                                #dateFrom {
                                    display:            inline-block;
                                }

                                #dateTo {
                                    display:            inline-block;
                                    margin-left:        20px;
                                }

                                label {
                                    font-size:          80%;
                                }

                                .datepicker {

                                    display:            inline-block;
                                    position:           relative;

                                    input {
                                        background-color:   #e8e8e8;
                                        padding:            4px 23px 4px 6px;
                                        border:             0;
                                        border-radius:      4px;
                                    }

                                    i {
                                        font-size:          83%;
                                        position:           absolute;
                                        right:              5px;
                                        top:                5px;
                                    }

                                }

                            }

                        }

                        #searchButtons {

                            margin-top:     12px;

                            button {
                                padding:        2px 6px;
                                /*border-radius:  3px;*/
                            }

                        }

                    }

                }

            }

        }

    }

}
