@import "../defaults/defaults.scss";

#notificationinfos {

    position:               relative;
    padding:                30px 30px 20px 25px;
    font-size:              140%;

    .headline {
        font-size:          180%;
        padding-bottom:     25px;
        color:              #999;
    }

    #notifications {

        display:                flex;
        padding:                15px 0px 5px 20px;
        font-size:              90%;
        border-collapse:        separate;
        border-spacing:         4px;
        flex-direction:         column;

        a.notification {

            display:                block;
            text-decoration:        none;
            background-color:       #fafafa;
            border:                 1px solid #fafafa;
            padding:                7px 7px;
            border-radius:          5px;
            color:                  #777;
            margin-bottom:          15px;

            .type {
                font-size:          60%;
                color:              rgba(168, 88, 52, 0.5);
                padding-left:       2px;
                padding-bottom:     2px;
            }

            .infos {

                padding:            4px 0px 2px 8px;

                .info {
                    color:              #AAA;
                    font-size:          85%;
                    display:            block;
                }

            }

            .parameter {
                color:              #aaa;
                font-size:          80%;
                display:            block;
                padding-left:       8px;
            }

            .description {
                color:              #aaa;
                font-size:          80%;
                display:            block;
                padding-left:       8px;
                font-style:         italic;
            }

            .messageTypes {

                display:            block;
                margin-top:         5px;
                font-size:          80%;

                .messageType {
                    display:            block;
                    margin-top:         1px;
                    background-color:   rgba(247, 126, 42, 0.2);
                    color:              #8c5934;
                    padding:            4px 7px;
                }

            }

            .messageTypes .messageType:first-child {
                border-top-left-radius:         4px;
                border-top-right-radius:        4px;
            }

            .messageTypes .messageType:last-child {
                border-bottom-left-radius:      4px;
                border-bottom-right-radius:     4px;
            }

            input, textarea, select {
                background-color:   rgba(255, 255, 255, 0.7);
                width:              calc(100% - 16px);
                padding:            6px 8px;
                border:             0px;
                border-radius:      4px;
                color:              #777;
                font-size:          100%;
            }

            textarea {
                resize:             vertical;
                min-height:         100px;
                display:            block;
            }

            input[type=checkbox] {
                width:              30px;
                height:             18px;
                margin-top:         8px;
            }

            input[type=checkbox]:checked {
                color:              $NavigationBackground;
            }

            input:focus, textarea:focus {

                outline-color:      $NavigationBackground;
                border-color:       $NavigationBackground;
                box-shadow:         0 0 6px $NavigationBackground;
                background:         rgb(245, 238, 227);

            }

        }

        .notification:hover {
            background-color:   #ffffff;
            border:             1px solid #c1c1c1;
        }

    }

    #messages {

        padding-left:           20px;
        padding-bottom:         40px;
        font-size:              90%;

        .message {

            margin-top:             23px;

            .messageType {
                padding:                2px 42px 2px 0px;
                white-space:            nowrap;
                color:                  #d27c40;
            }

            .notifications {

                display:                table;
                padding-left:           15px;
                padding-top:            5px;
                border-collapse:        separate;
                border-spacing:         3px;

                .row {

                    display:            table-row;
                    width:              100%;

                    .key {
                        display:                table-cell;
                        min-width:              10vw;
                        padding:                2px 10px 2px 0px;
                        white-space:            nowrap;
                        color:                  #666;
                    }

                    .value {

                        display:                table-cell;
                        width:                  inherit;
                        background-color:       #fafafa;
                        padding:                6px 10px;
                        border-radius:          5px;
                        color:                  #777;

                        .info {
                            color:              #AAA;
                            font-size:          85%;
                            display:            block;
                        }

                    }

                }

            }

        }

    }

}
