/*background: lighten($bg-color, 10%);*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
#organizationsinfos {
  position: relative;
  padding: 30px 30px 20px 25px;
  font-size: 140%; }
  #organizationsinfos .headline {
    font-size: 180%;
    padding-bottom: 25px;
    color: #999; }
  #organizationsinfos #organizations {
    margin-top: 10px;
    font-size: 80%; }
    #organizationsinfos #organizations .organization {
      position: relative;
      display: block;
      padding: 0px 15px 0px 15px;
      margin-bottom: 3px;
      background-color: rgba(136, 136, 136, 0.1);
      border-radius: 6px; }
      #organizationsinfos #organizations .organization .name {
        padding: 14px 0px 10px 0px;
        font-size: 120%;
        cursor: pointer; }
      #organizationsinfos #organizations .organization #youAreMember {
        margin-top: 5px; }
      #organizationsinfos #organizations .organization .properties {
        display: none;
        margin-top: 10px;
        border-collapse: separate;
        border-spacing: 3px; }
        #organizationsinfos #organizations .organization .properties .admins {
          display: table-row; }
          #organizationsinfos #organizations .organization .properties .admins .info {
            display: table-cell;
            padding-right: 40px;
            vertical-align: top; }
          #organizationsinfos #organizations .organization .properties .admins .wrapper {
            display: table-cell; }
            #organizationsinfos #organizations .organization .properties .admins .wrapper .users {
              display: table;
              border-spacing: 0px; }
              #organizationsinfos #organizations .organization .properties .admins .wrapper .users .admin {
                display: table-row; }
                #organizationsinfos #organizations .organization .properties .admins .wrapper .users .admin #name {
                  display: table-cell;
                  padding: 0px 5px 3px 5px;
                  margin: 0px;
                  font-size: 100%; }
                #organizationsinfos #organizations .organization .properties .admins .wrapper .users .admin #email {
                  display: table-cell;
                  padding: 0px 5px 3px 5px;
                  margin: 0px; }
                #organizationsinfos #organizations .organization .properties .admins .wrapper .users .admin #id {
                  display: table-cell;
                  padding: 0px 5px 3px 5px;
                  margin: 0px; }
                #organizationsinfos #organizations .organization .properties .admins .wrapper .users .admin .impersonateUser {
                  background-image: linear-gradient(to bottom, #e4d59c, #c78711b8);
                  color: #98731c;
                  padding: 4px 10px;
                  border-radius: 5px;
                  border: 0;
                  box-shadow: 2px 1px 1px #999;
                  margin-right: 5px; }
        #organizationsinfos #organizations .organization .properties #members {
          display: table-row; }
          #organizationsinfos #organizations .organization .properties #members #info {
            display: table-cell;
            padding-right: 40px;
            vertical-align: top; }
          #organizationsinfos #organizations .organization .properties #members #wrapper {
            display: table-cell;
            width: 100%; }
            #organizationsinfos #organizations .organization .properties #members #wrapper .users {
              display: table;
              border-spacing: 0px;
              margin-bottom: 3px; }
              #organizationsinfos #organizations .organization .properties #members #wrapper .users .member {
                display: table-row; }
                #organizationsinfos #organizations .organization .properties #members #wrapper .users .member #name {
                  display: table-cell;
                  padding: 0px 5px 3px 5px;
                  margin: 0px;
                  font-size: 100%; }
                #organizationsinfos #organizations .organization .properties #members #wrapper .users .member #email {
                  display: table-cell;
                  padding: 0px 5px 3px 5px;
                  margin: 0px; }
                #organizationsinfos #organizations .organization .properties #members #wrapper .users .member #id {
                  display: table-cell;
                  padding: 0px 5px 3px 5px;
                  margin: 0px; }
                #organizationsinfos #organizations .organization .properties #members #wrapper .users .member .impersonateUser {
                  background-image: linear-gradient(to bottom, #e4d59c, #c78711b8);
                  color: #98731c;
                  padding: 4px 10px;
                  border-radius: 5px;
                  border: 0;
                  box-shadow: 2px 1px 1px #999;
                  margin-right: 5px; }
                #organizationsinfos #organizations .organization .properties #members #wrapper .users .member .removeUser {
                  background-image: linear-gradient(to bottom, #e49c9c, #c71111b8);
                  color: #e2c2c2;
                  padding: 4px 10px;
                  border-radius: 5px;
                  border: 0;
                  box-shadow: 2px 1px 1px #999; }
            #organizationsinfos #organizations .organization .properties #members #wrapper .addUser .createNewUserButton {
              background-image: linear-gradient(to bottom, #dadada, #ababab);
              color: #6b6b6b;
              padding: 5px 10px;
              margin-left: 5px;
              border-radius: 5px;
              border: 0;
              box-shadow: 2px 1px 1px #999; }
            #organizationsinfos #organizations .organization .properties #members #wrapper .addUser .addExistingUserButton {
              background-image: linear-gradient(to bottom, #dadada, #ababab);
              color: #6b6b6b;
              padding: 5px 10px;
              margin-left: 5px;
              border-radius: 5px;
              border: 0;
              box-shadow: 2px 1px 1px #999; }
            #organizationsinfos #organizations .organization .properties #members #wrapper .newUser {
              width: calc(100% - 30px);
              background-color: rgba(255, 115, 0, 0.1);
              border: 1px solid rgba(255, 115, 0, 0.5);
              margin-bottom: 10px;
              padding: 15px 15px;
              border-radius: 6px; }
              #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .data {
                display: table;
                width: 100%; }
                #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .data .row {
                  display: table-row; }
                  #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .data .row .key {
                    display: table-cell;
                    padding: 0px 32px 3px 0px;
                    margin: 0px;
                    white-space: nowrap;
                    color: #b1601f;
                    font-size: 100%; }
                  #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .data .row .value {
                    display: table-cell;
                    padding: 0px 5px 3px 5px;
                    margin: 0px;
                    font-size: 100%;
                    width: 100%; }
                    #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .data .row .value input {
                      background-color: rgba(255, 255, 255, 0.7);
                      padding: 6px 8px;
                      border-radius: 4px;
                      font-size: 90%;
                      border: 0;
                      width: calc(100% - 15px);
                      color: #333; }
                    #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .data .row .value select {
                      background-color: rgba(255, 255, 255, 0.7);
                      padding: 5px 4px;
                      border-radius: 4px;
                      font-size: 90%;
                      border: 0;
                      width: 100%;
                      color: #333; }
              #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .response .HTTP {
                font-size: 88%;
                display: inline-block;
                padding: 10px 15px 7px;
                margin: 15px 5px 25px 5px;
                border-radius: 6px; }
              #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .response .Error {
                color: #a21e1e;
                background-color: #f59f9f;
                border-width: 1px;
                border-style: solid;
                border-color: #bd7070;
                border-image: initial; }
              #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .storeNewUserButton {
                background-image: linear-gradient(to bottom, #dadada, #ababab);
                color: #6b6b6b;
                padding: 5px 10px;
                border-radius: 5px;
                border: 0;
                box-shadow: 2px 1px 1px #999; }
              #organizationsinfos #organizations .organization .properties #members #wrapper .newUser .cancelNewUserButton {
                background-image: linear-gradient(to bottom, #dadada, #ababab);
                color: #6b6b6b;
                padding: 5px 10px;
                margin-left: 5px;
                border-radius: 5px;
                border: 0;
                box-shadow: 2px 1px 1px #999; }
      #organizationsinfos #organizations .organization .childs {
        margin: 10px 0px; }
      #organizationsinfos #organizations .organization .createChildOrganization {
        display: none;
        margin-top: 15px; }
        #organizationsinfos #organizations .organization .createChildOrganization .createChildOrganizationButton {
          background-image: linear-gradient(to bottom, #dadada, #ababab);
          color: #6b6b6b;
          padding: 5px 10px;
          margin: 10px 0px 15px 0px;
          border-radius: 5px;
          border: 0;
          box-shadow: 2px 1px 1px #999; }
        #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization {
          background-color: rgba(255, 115, 0, 0.1);
          border: 1px solid rgba(255, 115, 0, 0.5);
          margin-bottom: 10px;
          padding: 15px 15px;
          border-radius: 6px; }
          #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data {
            display: table;
            width: 100%;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 10px; }
            #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data .row {
              display: table-row;
              width: 100%; }
              #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data .row .key {
                display: table-cell;
                padding: 0px 32px 3px 0px;
                white-space: nowrap;
                color: #b1601f; }
              #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data .row .value {
                display: table-cell;
                position: relative;
                width: inherit;
                color: #777;
                width: inherit;
                padding-top: 5px; }
                #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data .row .value input {
                  background-color: rgba(255, 255, 255, 0.7);
                  padding: 6px 8px;
                  border-radius: 4px;
                  font-size: 90%;
                  border: 0;
                  width: calc(100% - 15px); }
                #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data .row .value input:focus, #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data .row .value textarea:focus {
                  outline-color: #cc2d7b;
                  border-color: #cc2d7b;
                  box-shadow: 0 0 6px #cc2d7b;
                  background: #f5eee3; }
                #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data .row .value input.error {
                  display: inline-block;
                  background-color: rgba(200, 0, 0, 0.23) !important;
                  color: #c80000 !important; }
              #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .data .row .ErrorMessage {
                position: absolute;
                align-items: center;
                top: 2px;
                right: 12px;
                height: 100%;
                font-size: 80%;
                color: #c80000; }
          #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .response .HTTP {
            font-size: 88%;
            display: inline-block;
            padding: 10px 15px 7px;
            margin: 15px 5px 25px 5px;
            border-radius: 6px; }
          #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .response .Error {
            color: #a21e1e;
            background-color: #f59f9f;
            border-width: 1px;
            border-style: solid;
            border-color: #bd7070;
            border-image: initial; }
          #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .storeChildButton {
            background-image: linear-gradient(to bottom, #dadada, #ababab);
            color: #6b6b6b;
            padding: 5px 10px;
            border-radius: 5px;
            border: 0;
            box-shadow: 2px 1px 1px #999; }
          #organizationsinfos #organizations .organization .createChildOrganization .newChildOrganization .cancelChildButton {
            margin-left: 5px;
            background-image: linear-gradient(to bottom, #dadada, #ababab);
            color: #6b6b6b;
            padding: 5px 10px;
            margin-left: 5px;
            border-radius: 5px;
            border: 0;
            box-shadow: 2px 1px 1px #999; }
    #organizationsinfos #organizations .Member {
      color: #000000;
      border: 1px solid rgba(136, 136, 136, 0.12); }
    #organizationsinfos #organizations .notMember {
      color: #C0C0C0;
      padding-bottom: 5px; }
