@import "../defaults/defaults.scss";

#organizationsinfos {

    position:               relative;
    padding:                30px 30px 20px 25px;
    font-size:              140%;

    .headline {
        font-size:          180%;
        padding-bottom:     25px;
        color:              #999;
    }

    #organizations {

        margin-top:         10px;
        font-size:          80%;

        .organization {

            position:           relative;
            display:            block;
            padding:            0px 15px 0px 15px;
            margin-bottom:      3px;
            background-color:   rgba(136,136,136,.1);
            border-radius:      6px;

            .name {
                padding:        14px 0px 10px 0px;
                font-size:      120%;
                cursor:         pointer;

                a.orgName {
                    color: #000000;
                }

                a.orgName:visited {
                    color: #000000;
                }

                a.orgName:hover {
                    color: #777777;
                }

            }

            #youAreMember {
                margin-top:     5px;
            }

            .properties {

                display:            none;
                margin-top:         10px;
                border-collapse:    separate;
                border-spacing:     3px;

                .admins {

                    display:        table-row;

                    .info {
                        display:        table-cell;
                        padding-right:  40px;
                        vertical-align: top;
                    }

                    .wrapper {

                        display: table-cell;

                        .users {

                            display:            table;
                            border-spacing:     0px;

                            .admin {

                                display:            table-row;

                                #name {
                                    display:            table-cell;
                                    padding:            0px 5px 3px 5px;
                                    margin:             0px;
                                    font-size:          100%;
                                }

                                #email {
                                    display:            table-cell;
                                    padding:            0px 5px 3px 5px;
                                    margin:             0px;
                                }

                                #id {
                                    display:            table-cell;
                                    padding:            0px 5px 3px 5px;
                                    margin:             0px;
                                }

                                .impersonateUser {
                                    background-image:   linear-gradient(to bottom,#e4d59c,#c78711b8);
                                    color:              #98731c;
                                    padding:            4px 10px;
                                    border-radius:      5px;
                                    border:             0;
                                    box-shadow:         2px 1px 1px #999;
                                    margin-right:       5px;
                                }

                            }
                        }

                    }

                }

                #members {

                    display:        table-row;

                    #info {
                        display:        table-cell;
                        padding-right:  40px;
                        vertical-align: top;
                    }

                    #wrapper {

                        display:    table-cell;
                        width:      100%;

                        .users {

                            display:            table;
                            border-spacing:     0px;
                            margin-bottom:      3px;

                            .member {

                                display:            table-row;

                                #name {
                                    display:            table-cell;
                                    padding:            0px 5px 3px 5px;
                                    margin:             0px;
                                    font-size:          100%;
                                }

                                #email {
                                    display:            table-cell;
                                    padding:            0px 5px 3px 5px;
                                    margin:             0px;
                                }

                                #id {
                                    display:            table-cell;
                                    padding:            0px 5px 3px 5px;
                                    margin:             0px;
                                }

                                .impersonateUser {
                                    background-image:   linear-gradient(to bottom,#e4d59c,#c78711b8);
                                    color:              #98731c;
                                    padding:            4px 10px;
                                    border-radius:      5px;
                                    border:             0;
                                    box-shadow:         2px 1px 1px #999;
                                    margin-right:       5px;
                                }

                                .removeUser {
                                    background-image:   linear-gradient(to bottom, #e49c9c, #c71111b8);
                                    color:              #e2c2c2;
                                    padding:            4px 10px;
                                    border-radius:      5px;
                                    border:             0;
                                    box-shadow:         2px 1px 1px #999;
                                }

                            }

                        }

                        .addUser {

                            .createNewUserButton {
                                background-image:   linear-gradient(to bottom,#dadada,#ababab);
                                color:              #6b6b6b;
                                padding:            5px 10px;
                                margin-left:        5px;
                                border-radius:      5px;
                                border:             0;
                                box-shadow:         2px 1px 1px #999;
                            }

                            .addExistingUserButton {
                                background-image:   linear-gradient(to bottom,#dadada,#ababab);
                                color:              #6b6b6b;
                                padding:            5px 10px;
                                margin-left:        5px;
                                border-radius:      5px;
                                border:             0;
                                box-shadow:         2px 1px 1px #999;
                            }

                        }

                        .newUser {

                            width:              calc(100% - 30px);
                            background-color:   rgba(255,115,0,.1);
                            border:             1px solid rgba(255,115,0,.5);
                            margin-bottom:      10px;
                            padding:            15px 15px;
                            border-radius:      6px;

                            .data {

                                display:  table;
                                width:    100%;

                                .row {

                                    display: table-row;

                                    .key {
                                        display:            table-cell;
                                        padding:            0px 32px 3px 0px;
                                        margin:             0px;
                                        white-space:        nowrap;
                                        color:              #b1601f;
                                        font-size:          100%;
                                    }

                                    .value {
                                        display:            table-cell;
                                        padding:            0px 5px 3px 5px;
                                        margin:             0px;
                                        font-size:          100%;
                                        width:              100%;

                                        input {
                                            background-color:   rgba(255,255,255,.7);
                                            padding:            6px 8px;
                                            border-radius:      4px;
                                            font-size:          90%;
                                            border:             0;
                                            width:              calc(100% - 15px);
                                            color:              #333;
                                        }

                                        select {
                                            background-color:   rgba(255,255,255,.7);
                                            padding:            5px 4px;
                                            border-radius:      4px;
                                            font-size:          90%;
                                            border:             0;
                                            width:              100%;
                                            color:              #333;
                                        }

                                    }

                                }

                            }

                            .response {

                                .HTTP {
                                    font-size:          88%;
                                    display:            inline-block;
                                    padding:            10px 15px 7px;
                                    margin:             15px 5px 25px 5px;
                                    border-radius:      6px;
                                }

                                .Error {
                                    color:              rgb(162, 30, 30);
                                    background-color:   rgb(245, 159, 159);
                                    border-width:       1px;
                                    border-style:       solid;
                                    border-color:       rgb(189, 112, 112);
                                    border-image:       initial;
                                }

                            }

                            .storeNewUserButton {
                                background-image:   linear-gradient(to bottom,#dadada,#ababab);
                                color:              #6b6b6b;
                                padding:            5px 10px;
                                border-radius:      5px;
                                border:             0;
                                box-shadow:         2px 1px 1px #999;
                            }

                            .cancelNewUserButton {
                                background-image:   linear-gradient(to bottom,#dadada,#ababab);
                                color:              #6b6b6b;
                                padding:            5px 10px;
                                margin-left:        5px;
                                border-radius:      5px;
                                border:             0;
                                box-shadow:         2px 1px 1px #999;
                            }

                        }

                    }

                }

            }

            .childs {
                margin: 10px 0px;
            }

            .createChildOrganization {

                display:        none;
                margin-top:     15px;

                .createChildOrganizationButton {
                    background-image:   linear-gradient(to bottom,#dadada,#ababab);
                    color:              #6b6b6b;
                    padding:            5px 10px;
                    margin:             10px 0px 15px 0px;
                    border-radius:      5px;
                    border:             0;
                    box-shadow:         2px 1px 1px #999;
                }

                .newChildOrganization {

                    background-color:   rgba(255, 115, 0, .1);
                    border:             1px solid rgba(255, 115, 0, .5);
                    margin-bottom:      10px;
                    padding:            15px 15px;
                    border-radius:      6px;

                    .data {

                        display:            table;
                        width:              100%;
                        border-collapse:    collapse;
                        width:              100%;
                        margin-bottom:      10px;

                        .row {

                            display: table-row;
                            width: 100%;

                            .key {
                                display:            table-cell;
                                padding:            0px 32px 3px 0px;
                                white-space:        nowrap;
                                color:              #b1601f;
                            }

                            .value {

                                display:            table-cell;
                                position:           relative;
                                width:              inherit;
                                color:              #777;
                                width:              inherit;
                                padding-top:        5px;

                                input {
                                    background-color:   rgba(255, 255, 255, .7);
                                    padding:            6px 8px;
                                    border-radius:      4px;
                                    font-size:          90%;
                                    border:             0;
                                    width:              calc(100% - 15px);
                                }

                                input:focus, textarea:focus {
                                    outline-color:      $NavigationBackground;
                                    border-color:       $NavigationBackground;
                                    box-shadow:         0 0 6px $NavigationBackground;
                                    background:         rgb(245, 238, 227);
                                }

                                input.error {
                                    display:            inline-block;
                                    background-color:   rgba(200, 0, 0, 0.23) !important;
                                    color:              rgb(200,0,0)          !important;
                                }

                            }

                            .ErrorMessage {
                                position:               absolute;
                                align-items:            center;
                                top:                    2px;
                                right:                  12px;
                                height:                 100%;
                                font-size:              80%;
                                color:                  #c80000;
                            }

                        }


                    }

                    .response {

                        .HTTP {
                            font-size:          88%;
                            display:            inline-block;
                            padding:            10px 15px 7px;
                            margin:             15px 5px 25px 5px;
                            border-radius:      6px;
                        }

                        .Error {
                            color:              rgb(162, 30, 30);
                            background-color:   rgb(245, 159, 159);
                            border-width:       1px;
                            border-style:       solid;
                            border-color:       rgb(189, 112, 112);
                            border-image:       initial;
                        }

                    }

                    .storeChildButton {
                        background-image:   linear-gradient(to bottom,#dadada,#ababab);
                        color:              #6b6b6b;
                        padding:            5px 10px;
                        border-radius:      5px;
                        border:             0;
                        box-shadow:         2px 1px 1px #999;
                    }

                    .cancelChildButton {
                        margin-left:        5px;
                        background-image:   linear-gradient(to bottom,#dadada,#ababab);
                        color:              #6b6b6b;
                        padding:            5px 10px;
                        margin-left:        5px;
                        border-radius:      5px;
                        border:             0;
                        box-shadow:         2px 1px 1px #999;
                    }

                }

            }

        }

        .Member {
            color:          #000000;
            border:         1px solid rgba(136,136,136,.12);
        }

        .notMember {
            color:          #C0C0C0;
            padding-bottom: 5px;
        }

    }

}
