/*background: lighten($bg-color, 10%);*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
#changePasswordInfos {
  position: relative;
  padding: 30px 30px 20px 25px;
  font-size: 140%; }
  #changePasswordInfos .headline {
    font-size: 180%;
    padding-bottom: 25px;
    color: #999; }
  #changePasswordInfos #changePassword {
    display: table;
    padding: 0px 0px 0px 20px;
    font-size: 90%;
    border-collapse: separate;
    border-spacing: 5px; }
    #changePasswordInfos #changePassword .row {
      display: table-row;
      width: 100%; }
      #changePasswordInfos #changePassword .row .key {
        display: table-cell;
        padding: 0px 42px 0px 0px;
        white-space: nowrap;
        color: #666; }
      #changePasswordInfos #changePassword .row .value {
        display: table-cell;
        width: inherit; }
        #changePasswordInfos #changePassword .row .value input {
          background-color: rgba(255, 255, 255, 0.7);
          width: calc(100% - 16px);
          padding: 6px 10px;
          border: 0px;
          border-radius: 4px;
          color: #777;
          font-size: 100%; }
        #changePasswordInfos #changePassword .row .value input:focus {
          outline-color: #cc2d7b;
          border-color: #cc2d7b;
          box-shadow: 0 0 6px #cc2d7b;
          background: #f5eee3; }
        #changePasswordInfos #changePassword .row .value #language {
          margin-bottom: 1px; }

#response {
  display: none;
  margin-top: 50px; }

#saveButton {
  margin-top: 40px; }
