/*background: lighten($bg-color, 10%);*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
#userProfile {
  position: relative;
  padding: 30px 30px 20px 25px;
  font-size: 140%; }
  #userProfile #avatar {
    margin: 1vh 3vw 3vh 3vw; }
    #userProfile #avatar img {
      width: 150px; }
  #userProfile #da2323ta .row {
    display: table-row;
    width: 100%; }
    #userProfile #da2323ta .row .key {
      display: table-cell;
      padding: 0px 42px 0px 0px;
      white-space: nowrap;
      color: #666; }
    #userProfile #da2323ta .row .keyTop {
      vertical-align: top;
      padding-top: 5px; }
    #userProfile #da2323ta .row .value {
      display: table-cell;
      width: inherit; }
      #userProfile #da2323ta .row .value input, #userProfile #da2323ta .row .value textarea, #userProfile #da2323ta .row .value select {
        background-color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 16px);
        padding: 6px 10px;
        border: 0px;
        border-radius: 4px;
        color: #777;
        font-size: 100%; }
      #userProfile #da2323ta .row .value input[type=checkbox] {
        width: 30px;
        height: 18px;
        margin-top: 8px; }
      #userProfile #da2323ta .row .value input[type=checkbox]:checked {
        color: #cc2d7b; }
      #userProfile #da2323ta .row .value input:focus, #userProfile #da2323ta .row .value textarea:focus {
        outline-color: #cc2d7b;
        border-color: #cc2d7b;
        box-shadow: 0 0 6px #cc2d7b;
        background: #f5eee3; }
      #userProfile #da2323ta .row .value textarea {
        resize: vertical;
        min-height: 100px;
        display: block; }
      #userProfile #da2323ta .row .value select {
        display: block;
        width: 100%; }
      #userProfile #da2323ta .row .value #language {
        margin-bottom: 1px; }
