body {
    margin:                     0px;
    padding:                    0px;
    color:                      #333333;
    font-family:                sans-serif;
}

.GraphElementCollection {
    border-collapse:            separate;
    margin:                     6px;
    border-spacing:             0px 15px;
}



.GraphElement {
    margin:                     6px 0px 6px 0px;
    padding:                    4px;
    background:                 rgba(255, 255, 255, 0.82);
    border-radius:              4px;
}

.Vertex {
}

.Edge {
    display:                    table-row;
}

.Edge:nth-child(even) {
    background:                 rgba(152, 152, 152, 0.1);
}

.Edge:hover {
    background:                 rgba(255, 211, 152, 0.5)
}


body {
    background:                 url('/images/backgrounds/random') fixed;
    background-size:            cover;
    margin:                     0px;
    padding:                    0px;
    background-color:           #C0C0C0;
    color:                      #333333;
    font-family:                sans-serif;
}

.Property {
    display:                    table-row;
}

.Property:nth-child(even) {
    background:                 rgba(152, 152, 152, 0.1);
}

.Property:hover {
    background:                 rgba(255, 211, 152, 0.5)
}

.Edge > .Properties > .Property:hover {
    background:                 rgba(247, 185, 102, 0.8);
}

.Edge > .Properties {
    border-left:                1px solid rgba(168, 168, 168, 0.6);
    border-right:               1px solid rgba(168, 168, 168, 0.6);
}

.Edge > .Properties > .Property > .PropertyKey {
    width:                      30%;
}

.Edge > .Properties > .Property > .PropertyValue {
    width:                      70%;
}

.PropertyKey {
    padding:                    3px 5px;
    vertical-align:             top;
    font-weight:                bold;
    background:                 rgba(152, 152, 152, 0.2);
    /*width:                      calc(100% - 10px);*/
    height:                     100%;
    overflow:                   auto;
    display:                    table-cell;
    /*float:                      left;*/
}

.PropertyValue {
    padding:                    3px 8px;
    vertical-align:             top;
    background:                 rgba(200, 200, 200, 0.2);
    /*width:                      80%;*/
    /*overflow:                   hidden;*/
    display:                    table-cell;
}

.Properties {
    display:                    table;
    border-collapse:            collapse;
    border-spacing:             0px;
    width:                      100%;
}

.PropertyValueList {
    margin:                     0px;
    padding-left:               25px;
    /*list-style:                 none;*/
}

.PropertyValueListItem {
    word-break:                 break-all;
    font-size:                  92%;
}

.PropertyValueListItem:before {
    /*color:                      #B38034;
    content:                    counter(li);
    counter-increment:          li;
    left:                       -1em;
    position:                   relative;*/
}

.PropertyValueListItem:nth-child(even) {
    background:                 rgba(152, 152, 152, 0.1);
}

.PropertyValueListItem:hover {
    background:                 rgba(247, 185, 102, 0.8);
}

.OutEdges {
    display:                    table;
    border-collapse:            collapse;
    border-spacing:             0px;
    width:                      100%;
    margin-top:                 4px;
}

.InEdges {
    display:                    table;
    border-collapse:            collapse;
    border-spacing:             0px;
    width:                      100%;
    margin-top:                 4px;
}



.Id {
    display:                    inline-block;
    border-radius:              4px 0px 0px 0px;
}

.VertexId {
}

.VertexId:before {
    content:                    "Vertex Id: ";
}

.EdgeId {
}

.EdgeId:before {
    content:                    "Edge Id: ";
}


.RevId {
    display:                    inline-block;
}

.RevId:before {
    content:                    "/ ";
}

.VertexRevId {
}

.EdgeRevId {
}


.Label {

}

.VertexLabel {
    padding:                    3px 6px;
    background:                 rgba(237, 209, 138, 0.9);
    border-radius:              4px;
    font-size:                  80%;
    margin-left:                10px;
    display:                    inline-block;
}

.EdgeLabel {
    width: 20vw;
}

.EdgeLabel:before {
    /*content:                    "EdgeLabel";*/
}

