@import "../defaults/_defaults.scss";

#userProfile {

    position:               relative;
    padding:                30px 30px 20px 25px;
    font-size:              140%;

    #avatar {

        margin:             1vh 3vw 0vh 3vw;

        img {
            width:              150px;
        }

    }

    #impersonateButton {
        display:        none;
    }

    #deleteUserButton {
        display:        none;
    }

    #saveButton {
        display:        none;
    }

}
