@import "../defaults/_defaults.scss";

body {
    #page {
        #right {
            #text {
                #support {

                    padding:    30px 30px 20px 25px;
                    font-size:  120%;

                    #links {

                        margin-left:        2vw;

                        a {

                            display:            inline-block;
                            color:              #555;
                            text-decoration:    none;
                            margin-bottom:      1vh;

                            i {
                                display:            inline-block;
                                width:              3vw;
                            }

                        }

                    }

                }
            }
        }
    }
}