
#SignInPanel {
    position:                   fixed;
    right:                      15px;
    top:                        48px;
    padding:                    8px 10px 8px 10px;
    font-size:                  8pt;
    background-color:           rgba(234, 237, 243, 0.9);
    box-shadow:                 1px 1px 3px rgba(100, 100, 100, 0.7);
    border-radius:              4px 4px 3px 3px;
    z-index:                    1000;
    display:                    none;
}


.SignInPanelElement {
    color:                      rgb(0, 0, 0);
    padding-left:               1px;
    padding-right:              2px;
}

.SignInPanelElement > a {
    display:                    block;
    float:                      right;
    color:                      rgba(80, 80, 88, 0.4);
    text-align:                 right;
    font-size:                  90%;
    padding-top:                3px;
    line-height:                18px;
    padding-left:               6px;
}

.SignInPanelElement > a:hover {
    text-decoration:            none;
    color:                      rgba(109, 178, 247, 0.95);
}

.SignInPanelElement > a:visited {
    text-decoration:            none;
}

.SignInPanelElement > a:link {
    text-decoration:            none;
}




#signinpanelsmall_showrealmbutton {
    display:                    inline-block;
}

#SignInPanelRealm {
    display:                    none;
}





#SignInPanel input {
    margin-top:                 3px;
    padding-left:               1px;
    border-radius:              3px;
    border:                     1px solid #CCCCCC;
    padding:                    4px 4px 3px 6px;
    font-size:                  9pt;
}

#SignInPanel input[type="text"], input[type="password"]  {
    display:                    block;
    margin-bottom:              5px;
    width:                      180px;
}

#SignInPanel input[type="button"] {
    display:                    inline-block;
    font-size:                  100%;
    padding:                    5px 11px 5px 10px;
}

#SignInPanel > #errors {
    color:                      #CC0000;
    padding:                    6px 0px 10px 0px;
    display:                    none;
}
