
$NavigationWidth:           60px;
$NavigationBackground:      rgb(204, 45, 123);
$NavigationBackHover:       rgb(247, 186, 61);
$NavigationMenuColor:       rgb(103,  89,  57);
$NavigationTextColor:       rgb(132,  90,  45);
$NavigationTextHover:       rgb(247, 227, 185);

$SubnavigationWidth:        200px;
$SubnavigationBackground:   rgb(207, 188, 151);
$SubnavigationTextColor:    rgb(125, 102,  57);
$SubnavigationBackHover:    rgb(232, 215, 178);
$SubnavigationTextHover:    rgb(177, 155, 112);

$TopbarHeight:              60px;


$Shadow:                    2px 2px 7px #828282;
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
$CITMBlue95:                rgba(247, 186,  61, .95);
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
