/*background: lighten($bg-color, 10%);*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
.fa, .far, .fas {
  font-style: normal; }

.buttons {
  display: flex;
  margin-top: 30px; }

.button {
  background: #ffba83;
  background-image: linear-gradient(to bottom, #ffc99e, #ffba83);
  color: #b36630;
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 4px;
  border: 0px;
  box-shadow: 2px 2px 6px #999; }
  .button .text {
    display: inline-block; }
    .button .text .text2 {
      display: inline-block;
      padding-left: 8px;
      vertical-align: top;
      padding-top: 7px; }

.button:hover {
  background-color: #fbd1af;
  background-image: linear-gradient(to bottom, #ffe5d1, #fbd1af);
  color: #cb8f64; }

.button:active {
  box-shadow: 0 1px 2px #999;
  transform: translateY(4px); }

.button:focus {
  outline: 0px; }

.button:disabled {
  background-color: #eee2d7;
  background-image: none;
  color: #ceb9aa;
  box-shadow: none; }

#organizationinfos {
  position: relative;
  padding: 30px 30px 20px 25px;
  font-size: 140%; }
  #organizationinfos .headline {
    font-size: 180%;
    padding-bottom: 25px;
    color: #999; }
  #organizationinfos #organization {
    display: table;
    padding: 0px 0px 60px 20px;
    font-size: 90%;
    border-collapse: separate;
    border-spacing: 5px; }
    #organizationinfos #organization .row {
      display: table-row;
      width: 100%; }
      #organizationinfos #organization .row .key {
        display: table-cell;
        padding: 0px 42px 0px 0px;
        white-space: nowrap;
        color: #666; }
      #organizationinfos #organization .row .keyTop {
        vertical-align: top;
        padding-top: 5px; }
      #organizationinfos #organization .row .value {
        display: table-cell;
        width: inherit; }
        #organizationinfos #organization .row .value input, #organizationinfos #organization .row .value textarea, #organizationinfos #organization .row .value select {
          background-color: rgba(255, 255, 255, 0.7);
          width: calc(100% - 16px);
          padding: 6px 10px;
          border: 0px;
          border-radius: 4px;
          color: #777;
          font-size: 100%; }
        #organizationinfos #organization .row .value input[type=checkbox] {
          width: 30px;
          height: 18px;
          margin-top: 8px; }
        #organizationinfos #organization .row .value input[type=checkbox]:checked {
          color: #cc2d7b; }
        #organizationinfos #organization .row .value input:focus, #organizationinfos #organization .row .value textarea:focus {
          outline-color: #cc2d7b;
          border-color: #cc2d7b;
          box-shadow: 0 0 6px #cc2d7b;
          background: #f5eee3; }
        #organizationinfos #organization .row .value textarea {
          resize: vertical;
          min-height: 100px;
          display: block; }
        #organizationinfos #organization .row .value select {
          display: block;
          width: 100%; }
        #organizationinfos #organization .row .value #language {
          margin-bottom: 1px; }

#organizationlogo .key {
  padding-top: 20px !important; }

#organizationlogo .value {
  padding-bottom: 10px !important; }
