/*background: lighten($bg-color, 10%);*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
.fa, .far, .fas {
  font-style: normal; }

body {
  margin: 0px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden; }
  body #page {
    display: flex; }
    body #page #navigation {
      display: flex;
      flex-direction: column;
      z-index: 100;
      min-height: 100vh;
      background-color: #cc2d7b;
      box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3); }
      body #page #navigation #logo {
        background-image: url("/images/CardiLink_Logo01.png");
        width: 100%;
        height: 60px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat; }
      body #page #navigation .menu {
        display: block;
        color: #675939;
        padding: 15px 0px 10px 12px;
        font-size: 95%; }
      body #page #navigation .submenu {
        display: none; }
      body #page #navigation #bottomMenu {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 3vh; }
      body #page #navigation a.menulink {
        display: block;
        color: #845a2d;
        padding: 0 1.5em 0 0.25em;
        font-weight: normal;
        font-size: 15px;
        line-height: 40px;
        text-decoration: none;
        white-space: nowrap; }
        body #page #navigation a.menulink i {
          font-size: 100%;
          display: inline-block;
          width: 44px;
          text-align: center;
          display: inline-block;
          font-style: normal; }
      body #page #navigation a.menulink:hover {
        color: #f7e3b9;
        background-color: #f7ba3d; }
      @media only screen and (max-width: 512px) {
        body #page #navigation {
          padding-right: 0px; } }
    body #page #right {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden; }
      body #page #right #top {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60px;
        z-index: 100;
        background-color: #cc2d7b;
        justify-content: flex-end;
        align-items: center;
        box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3); }
        body #page #right #top a {
          padding: 0px 10px;
          margin: 3px;
          text-decoration: none; }
          body #page #right #top a i {
            color: #845a2d;
            font-size: 140%;
            display: inline-block;
            font-style: normal; }
          body #page #right #top a #mt {
            position: relative;
            background-color: rgba(170, 0, 0, 0.7);
            color: #ffffff;
            top: -13px;
            display: inline-block;
            border-radius: 4px;
            padding: 0px 7px;
            margin-left: -10px;
            margin-top: 28px;
            text-align: center;
            font-size: 60%;
            font-weight: bold;
            height: 17px;
            line-height: 17px; }
        body #page #right #top #userFrame {
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.07);
          padding: 10px 15px;
          border-radius: 6px; }
          body #page #right #top #userFrame #username {
            color: #845a2d;
            padding-right: 10px;
            display: inline-block; }
          body #page #right #top #userFrame #userIcon {
            display: inline-block; }
            body #page #right #top #userFrame #userIcon i {
              font-size: 140%; }
        body #page #right #top #userFrame:hover {
          background-color: rgba(255, 255, 255, 0.21); }
        body #page #right #top #astronautFrame {
          display: none;
          background-color: rgba(255, 255, 255, 0.07);
          padding: 10px 15px;
          border-radius: 6px; }
          body #page #right #top #astronautFrame #astronaut {
            color: #845a2d;
            padding-right: 10px;
            display: inline-block; }
          body #page #right #top #astronautFrame #astronautIcon {
            display: inline-block; }
            body #page #right #top #astronautFrame #astronautIcon i {
              font-size: 140%; }
        body #page #right #top #astronautFrame:hover {
          background-color: rgba(255, 255, 255, 0.21); }
        body #page #right #top #admin {
          display: none; }
        body #page #right #top #signout {
          padding-right: 20px; }
      body #page #right #text {
        overflow-y: auto;
        height: calc(100vh - 60px);
        /*@media only screen and (max-width: 512px) {
                    padding-right:      10px;
                }*/
        min-width: calc(100% - 13vw);
        margin: 0px;
        padding: 0;
        background-color: #eee; }
        body #page #right #text .entity {
          /*padding:                        30px 30px 20px 25px;*/
          /*font-size:                      140%;*/
          /*height:                         100%;*/
          display: flex;
          flex-direction: column; }
          body #page #right #text .entity #headline {
            padding-bottom: 30px;
            color: #999; }
            body #page #right #text .entity #headline #title {
              font-size: 160%; }
              body #page #right #text .entity #headline #title #id {
                display: inline-block; }
              body #page #right #text .entity #headline #title #name {
                font-size: 62%; }
                body #page #right #text .entity #headline #title #name #language {
                  display: inline-block;
                  margin-top: 2px;
                  font-size: 60%;
                  vertical-align: top;
                  background-color: #ddd;
                  padding: 2px 4px;
                  border-radius: 4px; }
                body #page #right #text .entity #headline #title #name #I18NText {
                  display: inline-block;
                  font-size: 170%; }
              body #page #right #text .entity #headline #title #description {
                font-size: 37%; }
                body #page #right #text .entity #headline #title #description #language {
                  display: inline-block;
                  margin-top: 2px;
                  font-size: 60%;
                  vertical-align: top;
                  background-color: #ddd;
                  padding: 2px 4px;
                  border-radius: 4px; }
                body #page #right #text .entity #headline #title #description #I18NText {
                  display: inline-block;
                  font-size: 170%; }
          body #page #right #text .entity #buttons {
            /*text-align:     right;*/
            display: flex;
            flex-direction: row-reverse; }
            body #page #right #text .entity #buttons button {
              border: 0;
              white-space: nowrap;
              color: #6b6b6b;
              padding: 8px 14px;
              margin: 10px 0 15px 0;
              border-radius: 5px;
              font-size: 70%; }
            body #page #right #text .entity #buttons button:hover {
              background-color: #fdcca4; }
            body #page #right #text .entity #buttons button i:first-child {
              margin-right: 2px;
              font-size: 75%; }
          body #page #right #text .entity #data {
            margin-left: 15px;
            width: calc(100% - 15px);
            display: table;
            border-collapse: collapse; }
            body #page #right #text .entity #data .row {
              display: table-row;
              width: 100%; }
              body #page #right #text .entity #data .row .key {
                display: table-cell;
                padding: 8px 42px 8px 0;
                white-space: nowrap;
                color: #666;
                vertical-align: top; }
              body #page #right #text .entity #data .row .subkey {
                display: table-cell;
                padding: 8px 42px 8px 0;
                white-space: nowrap;
                color: #666;
                vertical-align: top;
                padding-left: 20px; }
              body #page #right #text .entity #data .row .value {
                display: table-cell;
                position: relative;
                width: inherit;
                display: table-cell;
                width: inherit;
                color: #777;
                padding-top: 5px; }
                body #page #right #text .entity #data .row .value input, body #page #right #text .entity #data .row .value textarea, body #page #right #text .entity #data .row .value select {
                  background-color: rgba(255, 255, 255, 0.7);
                  padding: 6px 8px;
                  border-radius: 4px;
                  font-size: 90%;
                  border: 0px; }
                body #page #right #text .entity #data .row .value input, body #page #right #text .entity #data .row .value textarea {
                  width: calc(100% - 16px); }
                body #page #right #text .entity #data .row .value textarea {
                  /*background-color:   rgba(255, 255, 255, 0.7);
                                    width:              calc(100% - 16px);
                                    padding:            6px 8px;
                                    border:             0px;
                                    border-radius:      4px;
                                    color:              #777;
                                    font-size:          100%;*/
                  vertical-align: top;
                  resize: vertical;
                  min-height: 100px; }
                body #page #right #text .entity #data .row .value input[type=checkbox] {
                  /*width:              30px;
                                    height:             18px;
                                    margin-top:         8px;*/
                  margin: 14px 11px 7px 11px;
                  width: auto;
                  transform: scale(1.2); }
                body #page #right #text .entity #data .row .value input[type=checkbox]:checked {
                  color: #cc2d7b; }
                body #page #right #text .entity #data .row .value input:focus, body #page #right #text .entity #data .row .value textarea:focus {
                  outline-color: #cc2d7b;
                  border-color: #cc2d7b;
                  box-shadow: 0 0 6px #cc2d7b;
                  background: #f5eee3; }
                body #page #right #text .entity #data .row .value input.error {
                  display: inline-block;
                  background-color: rgba(200, 0, 0, 0.23) !important;
                  color: #c80000 !important; }
                body #page #right #text .entity #data .row .value .subvalues .subrow {
                  display: table-row; }
                  body #page #right #text .entity #data .row .value .subvalues .subrow .subkey {
                    display: table-cell;
                    white-space: nowrap; }
                  body #page #right #text .entity #data .row .value .subvalues .subrow .subvalue {
                    display: table-cell;
                    width: 100%;
                    padding: 5px 0px 0px 20px; }
                body #page #right #text .entity #data .row .value #language {
                  width: 100%;
                  margin-bottom: 1px; }
                body #page #right #text .entity #data .row .value a {
                  background-color: rgba(255, 114, 0, 0.25);
                  color: #cc2d7b;
                  padding: 2px 6px;
                  border-radius: 3px;
                  text-decoration: none; }
                body #page #right #text .entity #data .row .value a:hover {
                  background-color: rgba(228, 141, 70, 0.25);
                  color: #f59f5a; }
              body #page #right #text .entity #data .row .ErrorMessage {
                position: absolute;
                align-items: center;
                top: 2px;
                right: 12px;
                height: 100%;
                font-size: 70%;
                color: #c80000; }
            body #page #right #text .entity #data .group {
              white-space: nowrap;
              color: #666;
              vertical-align: top;
              margin: 15px 0px 1px 0px; }
            body #page #right #text .entity #data .spacer {
              margin-top: 10px; }
            body #page #right #text .entity #data #pairedWith {
              border-top: 15px solid transparent; }
          body #page #right #text .entity #saveButton {
            margin-top: 40px; }

#response {
  margin-top: 30px; }
  #response .HTTP {
    padding-left: 14px;
    font-size: 88%;
    padding: 10px 15px 7px 15px;
    border-radius: 6px;
    display: inline-block; }
  #response .OK {
    color: #2db72d;
    border: 1px solid #91ca8a;
    background-color: #b5e2af; }
  #response .Warning {
    color: #83841d;
    border: 1px solid #d9da32;
    background-color: #f2f372; }
  #response .Error {
    color: #a21e1e;
    border: 1px solid #bd7070;
    background-color: #f59f9f; }

.buttons {
  display: flex;
  margin-top: 30px; }

.button {
  background: #ffba83;
  background-image: linear-gradient(to bottom, #ffc99e, #ffba83);
  color: #b36630;
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 4px;
  border: 0px;
  box-shadow: 2px 2px 6px #999; }
  .button .text {
    display: inline-block; }
    .button .text .text2 {
      display: inline-block;
      padding-left: 8px;
      vertical-align: top;
      padding-top: 7px; }

.button:hover {
  background-color: #fbd1af;
  background-image: linear-gradient(to bottom, #ffe5d1, #fbd1af);
  color: #cb8f64; }

.button:active {
  box-shadow: 0 1px 2px #999;
  transform: translateY(4px); }

.button:focus {
  outline: 0px; }

.button:disabled {
  background-color: #eee2d7;
  background-image: none;
  color: #ceb9aa;
  box-shadow: none; }

body #page #right #text {
  display: flex;
  flex-direction: column;
  /*height:             calc(100vh - 13vw*.35);
                overflow-y:         hidden;*/ }
  body #page #right #text .entity {
    padding: 0;
    font-size: 100%; }
    body #page #right #text .entity #headline {
      font-size: 125%;
      color: #8c8c8c;
      background-color: #f3f3f3;
      display: block;
      padding: 20px 15px 12px 23px; }
      body #page #right #text .entity #headline #title {
        margin: 0;
        padding-bottom: 10px; }
        body #page #right #text .entity #headline #title .fa {
          height: 20px; }
      body #page #right #text .entity #headline #controls {
        display: flex;
        flex-direction: column;
        /*#new {

                                display: flex;

                                button {
                                    border-radius:          4px;
                                    margin:                 6px 0px 6px 0px;
                                    padding:                0px 10px;
                                }

                            }*/ }
        body #page #right #text .entity #headline #controls #search {
          margin-bottom: 5px; }
          body #page #right #text .entity #headline #controls #search .StreamFilterDiv {
            display: inline-block;
            padding: 2px 3px 2px 17px;
            font-size: 9pt; }
            body #page #right #text .entity #headline #controls #search .StreamFilterDiv .group {
              margin-right: 0;
              position: relative; }
              body #page #right #text .entity #headline #controls #search .StreamFilterDiv .group #search {
                background-color: #e8e8e8;
                padding: 4px 6px 4px 23px;
                width: 40vw;
                border: 0;
                border-radius: 4px; }
              body #page #right #text .entity #headline #controls #search .StreamFilterDiv .group #sign1 {
                position: absolute;
                top: 4px;
                right: calc(100% - 18px);
                font-size: 10pt;
                color: #AAAAAA; }
              body #page #right #text .entity #headline #controls #search .StreamFilterDiv .group #filter {
                background-color: #e8e8e8;
                padding: 4px 6px 4px 23px;
                width: 40vw;
                border: 0;
                border-radius: 4px; }
              body #page #right #text .entity #headline #controls #search .StreamFilterDiv .group #sign {
                position: absolute;
                top: 4px;
                right: calc(100% - 18px);
                font-size: 10pt;
                color: #AAAAAA; }
          body #page #right #text .entity #headline #controls #search #take {
            display: inline-block; }
            body #page #right #text .entity #headline #controls #search #take select {
              border: 0;
              padding: 4px 6px;
              outline: 0;
              background-color: #e8e8e8; }
              body #page #right #text .entity #headline #controls #search #take select option {
                padding: 2px 3px; }
          body #page #right #text .entity #headline #controls #search button {
            border: 0;
            background-color: #e4e4e4;
            border-radius: 50%;
            outline: none;
            width: 28px;
            height: 28px;
            font-size: 80%;
            color: black;
            margin: 0px 2px; }
          body #page #right #text .entity #headline #controls #search button[disabled] {
            background: none;
            cursor: not-allowed; }
          body #page #right #text .entity #headline #controls #search button[disabled]:hover {
            background: none;
            cursor: not-allowed; }
          body #page #right #text .entity #headline #controls #search button[disabled].busy {
            background-color: #e4e4e4;
            color: black; }
          body #page #right #text .entity #headline #controls #search button[disabled].busyActive {
            background-color: #ffab66; }
          body #page #right #text .entity #headline #controls #search button.busy {
            background-color: #e4e4e4;
            color: black; }
          body #page #right #text .entity #headline #controls #search button:hover {
            background-color: #ffd5b2; }
          body #page #right #text .entity #headline #controls #search button:active {
            background-color: #ffab66; }
          body #page #right #text .entity #headline #controls #search #searchButton {
            display: inline-block; }
          body #page #right #text .entity #headline #controls #search #leftButton {
            display: inline-block; }
          body #page #right #text .entity #headline #controls #search #rightButton {
            display: inline-block; }
          body #page #right #text .entity #headline #controls #search #dateFilters {
            margin: 5px 0px 0px 30px; }
            body #page #right #text .entity #headline #controls #search #dateFilters #dateFrom {
              display: inline-block; }
            body #page #right #text .entity #headline #controls #search #dateFilters #dateTo {
              display: inline-block;
              margin-left: 20px; }
            body #page #right #text .entity #headline #controls #search #dateFilters label {
              font-size: 80%; }
            body #page #right #text .entity #headline #controls #search #dateFilters .datepicker {
              display: inline-block;
              position: relative; }
              body #page #right #text .entity #headline #controls #search #dateFilters .datepicker input {
                background-color: #e8e8e8;
                padding: 4px 23px 4px 6px;
                border: 0;
                border-radius: 4px; }
              body #page #right #text .entity #headline #controls #search #dateFilters .datepicker i {
                font-size: 83%;
                position: absolute;
                right: 5px;
                top: 5px; }
        body #page #right #text .entity #headline #controls #searchButtons {
          margin-top: 12px; }
          body #page #right #text .entity #headline #controls #searchButtons button {
            padding: 2px 6px;
            /*border-radius:  3px;*/ }
    body #page #right #text .entity #message {
      padding: 5px 30px;
      font-size: 80%;
      color: #707070; }
    body #page #right #text .entity #resultsBox {
      /*overflow-y:     scroll;*/ }
      body #page #right #text .entity #resultsBox .searchResults {
        display: flex;
        flex-direction: column;
        cursor: pointer; }
        body #page #right #text .entity #resultsBox .searchResults .searchResult {
          position: relative;
          display: block;
          padding: 10px 11px 8px 16px;
          margin-bottom: 2px;
          color: black;
          background-color: rgba(136, 136, 136, 0.1);
          text-decoration: none; }
          body #page #right #text .entity #resultsBox .searchResults .searchResult .I18N {
            display: table; }
            body #page #right #text .entity #resultsBox .searchResults .searchResult .I18N .I18NLanguage {
              display: table-cell;
              font-size: 80%;
              color: #888888;
              vertical-align: top; }
              body #page #right #text .entity #resultsBox .searchResults .searchResult .I18N .I18NLanguage p {
                background: rgba(136, 136, 136, 0.38);
                border-radius: 4px;
                padding: 0 5px 2px 5px;
                margin: 0; }
            body #page #right #text .entity #resultsBox .searchResults .searchResult .I18N .I18NValue {
              display: table-cell;
              padding-left: 6px; }
          body #page #right #text .entity #resultsBox .searchResults .searchResult .properties {
            display: table;
            margin-top: 8px;
            font-size: 90%; }
            body #page #right #text .entity #resultsBox .searchResults .searchResult .properties .property {
              display: table-row; }
              body #page #right #text .entity #resultsBox .searchResults .searchResult .properties .property .key {
                display: table-cell;
                padding: 0px 15px 3px 0px; }
              body #page #right #text .entity #resultsBox .searchResults .searchResult .properties .property .value {
                display: table-cell;
                padding: 0px 0px 3px 0px; }
        body #page #right #text .entity #resultsBox .searchResults .searchResult:hover {
          background-color: rgba(255, 115, 0, 0.2); }

#text .entity #resultsBox .searchResults .searchResult .id {
  font-size: 85%;
  padding-bottom: 10px; }
  #text .entity #resultsBox .searchResults .searchResult .id .I18NValue {
    position: relative;
    top: 1px; }

#text .entity #resultsBox .searchResults .searchResult .name {
  margin-bottom: 2px; }
  #text .entity #resultsBox .searchResults .searchResult .name .I18NLanguage p {
    position: relative;
    top: 3px; }
  #text .entity #resultsBox .searchResults .searchResult .name .I18NValue {
    font-size: 150%;
    margin: 5px; }

#text .entity #resultsBox .searchResults .searchResult .description .I18NValue {
  margin: 5px; }
