/*background: lighten($bg-color, 10%);*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
.fa, .far, .fas {
  font-style: normal; }

body {
  margin: 0px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden; }
  body #page {
    display: flex; }
    body #page #navigation {
      display: flex;
      flex-direction: column;
      z-index: 100;
      min-height: 100vh;
      background-color: #cc2d7b;
      box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3); }
      body #page #navigation #logo {
        background-image: url("/images/CardiLink_Logo01.png");
        width: 100%;
        height: 60px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat; }
      body #page #navigation .menu {
        display: block;
        color: #675939;
        padding: 15px 0px 10px 12px;
        font-size: 95%; }
      body #page #navigation .submenu {
        display: none; }
      body #page #navigation #bottomMenu {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 3vh; }
      body #page #navigation a.menulink {
        display: block;
        color: #845a2d;
        padding: 0 1.5em 0 0.25em;
        font-weight: normal;
        font-size: 15px;
        line-height: 40px;
        text-decoration: none;
        white-space: nowrap; }
        body #page #navigation a.menulink i {
          font-size: 100%;
          display: inline-block;
          width: 44px;
          text-align: center;
          display: inline-block;
          font-style: normal; }
      body #page #navigation a.menulink:hover {
        color: #f7e3b9;
        background-color: #f7ba3d; }
      @media only screen and (max-width: 512px) {
        body #page #navigation {
          padding-right: 0px; } }
    body #page #right {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden; }
      body #page #right #top {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60px;
        z-index: 100;
        background-color: #cc2d7b;
        justify-content: flex-end;
        align-items: center;
        box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3); }
        body #page #right #top a {
          padding: 0px 10px;
          margin: 3px;
          text-decoration: none; }
          body #page #right #top a i {
            color: #845a2d;
            font-size: 140%;
            display: inline-block;
            font-style: normal; }
          body #page #right #top a #mt {
            position: relative;
            background-color: rgba(170, 0, 0, 0.7);
            color: #ffffff;
            top: -13px;
            display: inline-block;
            border-radius: 4px;
            padding: 0px 7px;
            margin-left: -10px;
            margin-top: 28px;
            text-align: center;
            font-size: 60%;
            font-weight: bold;
            height: 17px;
            line-height: 17px; }
        body #page #right #top #userFrame {
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.07);
          padding: 10px 15px;
          border-radius: 6px; }
          body #page #right #top #userFrame #username {
            color: #845a2d;
            padding-right: 10px;
            display: inline-block; }
          body #page #right #top #userFrame #userIcon {
            display: inline-block; }
            body #page #right #top #userFrame #userIcon i {
              font-size: 140%; }
        body #page #right #top #userFrame:hover {
          background-color: rgba(255, 255, 255, 0.21); }
        body #page #right #top #astronautFrame {
          display: none;
          background-color: rgba(255, 255, 255, 0.07);
          padding: 10px 15px;
          border-radius: 6px; }
          body #page #right #top #astronautFrame #astronaut {
            color: #845a2d;
            padding-right: 10px;
            display: inline-block; }
          body #page #right #top #astronautFrame #astronautIcon {
            display: inline-block; }
            body #page #right #top #astronautFrame #astronautIcon i {
              font-size: 140%; }
        body #page #right #top #astronautFrame:hover {
          background-color: rgba(255, 255, 255, 0.21); }
        body #page #right #top #admin {
          display: none; }
        body #page #right #top #signout {
          padding-right: 20px; }
      body #page #right #text {
        overflow-y: auto;
        height: calc(100vh - 60px);
        /*@media only screen and (max-width: 512px) {
                    padding-right:      10px;
                }*/
        min-width: calc(100% - 13vw);
        margin: 0px;
        padding: 0;
        background-color: #eee; }
        body #page #right #text .entity {
          display: flex;
          flex-direction: column; }
          body #page #right #text .entity #headline {
            display: flex;
            align-items: center;
            padding-bottom: 30px;
            color: #999; }
            body #page #right #text .entity #headline #logo {
              margin-right: 1vw; }
              body #page #right #text .entity #headline #logo img {
                width: 100px; }
            body #page #right #text .entity #headline #title {
              font-size: 150%; }
              body #page #right #text .entity #headline #title #id {
                display: inline-block; }
              body #page #right #text .entity #headline #title #name {
                font-size: 62%; }
                body #page #right #text .entity #headline #title #name #language {
                  display: inline-block;
                  margin-top: 2px;
                  font-size: 60%;
                  vertical-align: top;
                  background-color: #ddd;
                  padding: 2px 4px;
                  border-radius: 4px; }
                body #page #right #text .entity #headline #title #name #I18NText {
                  display: inline-block;
                  font-size: 170%; }
              body #page #right #text .entity #headline #title #description {
                font-size: 37%; }
                body #page #right #text .entity #headline #title #description #language {
                  display: inline-block;
                  margin-top: 2px;
                  font-size: 60%;
                  vertical-align: top;
                  background-color: #ddd;
                  padding: 2px 4px;
                  border-radius: 4px; }
                body #page #right #text .entity #headline #title #description #I18NText {
                  display: inline-block;
                  font-size: 170%; }
          body #page #right #text .entity #about {
            padding: 2vh 1vw 3vh 1vw;
            font-size: 95%;
            color: #777; }
          body #page #right #text .entity #upperButtons {
            display: flex;
            flex-direction: row-reverse;
            margin: 1vh 1vw;
            /* Also used for 'a'-tags which should behave like a button! */
            /*                        button i:first-child {
                            margin-right:       2px;
                            font-size:          75%;
                        }*/ }
            body #page #right #text .entity #upperButtons .button {
              background: #d6d6d6;
              background-image: linear-gradient(to bottom, #ddd, #c8c8c8);
              color: #696969;
              padding: 6px 10px 4px 10px;
              margin-left: 5px;
              border-radius: 3px;
              border: 0px;
              box-shadow: 2px 2px 3px #bebebe;
              font-size: 60%;
              white-space: nowrap;
              text-decoration: none; }
              body #page #right #text .entity #upperButtons .button .text {
                display: inline-block; }
                body #page #right #text .entity #upperButtons .button .text .text2 {
                  display: inline-block;
                  padding-left: 8px;
                  vertical-align: top;
                  padding-top: 7px; }
            body #page #right #text .entity #upperButtons .button:hover {
              background-color: rgbgb(224, 224, 224);
              background-image: linear-gradient(to bottom, #eee, #d4d4d4);
              color: #777; }
            body #page #right #text .entity #upperButtons .button:active {
              box-shadow: 0 1px 2px #999;
              transform: translateY(4px); }
            body #page #right #text .entity #upperButtons .button:focus {
              outline: 0px; }
            body #page #right #text .entity #upperButtons .button:disabled {
              background-color: rgba(0, 0, 0, 0.1);
              background-image: none;
              color: #bbb;
              box-shadow: none; }
          body #page #right #text .entity #data {
            margin-left: 15px;
            width: calc(100% - 15px);
            display: table;
            border-collapse: collapse; }
            body #page #right #text .entity #data .row {
              display: table-row;
              width: 100%; }
              body #page #right #text .entity #data .row .key {
                display: table-cell;
                padding: 8px 42px 8px 0;
                white-space: nowrap;
                color: #666;
                vertical-align: top; }
              body #page #right #text .entity #data .row .subkey {
                display: table-cell;
                padding: 8px 42px 8px 0;
                white-space: nowrap;
                color: #666;
                vertical-align: top;
                padding-left: 20px; }
              body #page #right #text .entity #data .row .value {
                display: table-cell;
                position: relative;
                width: inherit;
                display: table-cell;
                width: inherit;
                color: #777;
                padding-top: 5px; }
                body #page #right #text .entity #data .row .value input, body #page #right #text .entity #data .row .value textarea, body #page #right #text .entity #data .row .value select {
                  background-color: rgba(255, 255, 255, 0.7);
                  padding: 6px 8px;
                  border-radius: 4px;
                  font-size: 90%;
                  border: 0px;
                  width: 100%; }
                body #page #right #text .entity #data .row .value input, body #page #right #text .entity #data .row .value textarea {
                  width: calc(100% - 16px); }
                body #page #right #text .entity #data .row .value textarea {
                  /*background-color:   rgba(255, 255, 255, 0.7);
                                    width:              calc(100% - 16px);
                                    padding:            6px 8px;
                                    border:             0px;
                                    border-radius:      4px;
                                    color:              #777;
                                    font-size:          100%;*/
                  vertical-align: top;
                  resize: vertical;
                  min-height: 100px;
                  /* display:            block;*/ }
                body #page #right #text .entity #data .row .value select {
                  margin-bottom: 1px; }
                body #page #right #text .entity #data .row .value input[type=checkbox] {
                  /*width:              30px;
                                    height:             18px;
                                    margin-top:         8px;*/
                  margin: 14px 11px 7px 11px;
                  width: auto;
                  transform: scale(1.2); }
                body #page #right #text .entity #data .row .value input[type=checkbox]:checked {
                  color: #cc2d7b; }
                body #page #right #text .entity #data .row .value input:focus, body #page #right #text .entity #data .row .value textarea:focus {
                  outline-color: #cc2d7b;
                  border-color: #cc2d7b;
                  box-shadow: 0 0 6px #cc2d7b;
                  background: #f5eee3; }
                body #page #right #text .entity #data .row .value input::placeholder {
                  font-size: 90%;
                  font-style: italic;
                  color: #acacac;
                  opacity: 1;
                  /* Firefox fix */ }
                body #page #right #text .entity #data .row .value input.error {
                  display: inline-block;
                  background-color: rgba(200, 0, 0, 0.23) !important;
                  color: #c80000 !important; }
                body #page #right #text .entity #data .row .value .subvalues .subrow {
                  display: table-row; }
                  body #page #right #text .entity #data .row .value .subvalues .subrow .subkey {
                    display: table-cell;
                    white-space: nowrap; }
                  body #page #right #text .entity #data .row .value .subvalues .subrow .subvalue {
                    display: table-cell;
                    width: 100%;
                    padding: 5px 0px 0px 20px; }
                body #page #right #text .entity #data .row .value #language {
                  width: 100%;
                  margin-bottom: 1px; }
                body #page #right #text .entity #data .row .value a {
                  background-color: rgba(255, 114, 0, 0.25);
                  color: #cc2d7b;
                  padding: 2px 6px;
                  border-radius: 3px;
                  text-decoration: none; }
                body #page #right #text .entity #data .row .value a:hover {
                  background-color: rgba(228, 141, 70, 0.25);
                  color: #f59f5a; }
              body #page #right #text .entity #data .row .validationError {
                position: absolute;
                right: 12px;
                top: 2px;
                height: 100%;
                align-items: center;
                font-size: 70%;
                color: #c80000; }
            body #page #right #text .entity #data .group {
              white-space: nowrap;
              color: #666;
              vertical-align: top;
              margin: 15px 0px 1px 0px; }
            body #page #right #text .entity #data .spacer {
              margin-top: 10px; }
            body #page #right #text .entity #data #pairedWith {
              /*   border-top:             15px solid transparent;*/ }
          body #page #right #text .entity #lowerButtons {
            display: flex;
            flex-direction: row;
            margin: 1vh 1vw;
            /*                     button {
                            border:             0;
                            white-space:        nowrap;
                            color:              #6b6b6b;
                            padding:            8px 14px;
                            margin:             10px 0 15px 0;
                            border-radius:      5px;
                            font-size:          70%;
                            text-decoration:    none;
                        }*/
            /* Also used for 'a'-tags which should behave like a button! */
            /*   button:hover {
                            background-color:   #fdcca4;
                        }*/
            /*                        button i:first-child {
                            margin-right:       2px;
                            font-size:          75%;
                        }*/ }
            body #page #right #text .entity #lowerButtons .button {
              background: #ffba83;
              background-image: linear-gradient(to bottom, #ffc99e, #ffba83);
              color: #b36630;
              padding: 10px 20px;
              margin-left: 5px;
              border-radius: 4px;
              border: 0px;
              box-shadow: 2px 2px 6px #999;
              font-size: 70%;
              white-space: nowrap;
              text-decoration: none; }
              body #page #right #text .entity #lowerButtons .button .text {
                display: inline-block; }
                body #page #right #text .entity #lowerButtons .button .text .text2 {
                  display: inline-block;
                  padding-left: 8px;
                  vertical-align: top;
                  padding-top: 7px; }
            body #page #right #text .entity #lowerButtons .button:hover {
              background-color: #fbd1af;
              background-image: linear-gradient(to bottom, #ffe5d1, #fbd1af);
              color: #cb8f64; }
            body #page #right #text .entity #lowerButtons .button:active {
              box-shadow: 0 1px 2px #999;
              transform: translateY(4px); }
            body #page #right #text .entity #lowerButtons .button:focus {
              outline: 0px; }
            body #page #right #text .entity #lowerButtons .button:disabled {
              background-color: #eee2d7;
              background-image: none;
              color: #ceb9aa;
              box-shadow: none; }
          body #page #right #text .entity #saveButton {
            margin-top: 40px; }
        body #page #right #text .fullScreenDialog {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: 10000;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.6); }
          body #page #right #text .fullScreenDialog .box {
            position: relative;
            display: inline-table;
            top: 20vh;
            background-color: #CCCCCC;
            border-radius: 6px;
            box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3); }
            body #page #right #text .fullScreenDialog .box #headline {
              background-color: #ff7300;
              border-radius: 6px 6px 0px 0px;
              padding: 10px 20px;
              text-align: center;
              font-weight: bold; }
            body #page #right #text .fullScreenDialog .box #body {
              background-color: #DDDDDD;
              border-radius: 0px 0px 6px 6px;
              padding: 10px 20px; }
              body #page #right #text .fullScreenDialog .box #body #confirmation {
                padding: 10px 10px 15px 10px; }
              body #page #right #text .fullScreenDialog .box #body #description {
                padding: 10px 10px 15px 10px; }
              body #page #right #text .fullScreenDialog .box #body #buttons {
                display: flex;
                justify-content: flex-end; }
                body #page #right #text .fullScreenDialog .box #body #buttons button {
                  border: 0;
                  border-radius: 4px;
                  background-color: orangered;
                  margin-left: 5px;
                  padding: 6px 16px 4px 16px; }
                body #page #right #text .fullScreenDialog .box #body #buttons button:hover {
                  background-color: #ffab67; }
          body #page #right #text .fullScreenDialog .withErrors #headline {
            background-color: #f92222 !important; }
          body #page #right #text .fullScreenDialog .withErrors #body #buttons button {
            background-color: #f92222 !important; }
          body #page #right #text .fullScreenDialog .withErrors #body #buttons button:hover {
            background-color: #f76a6a !important; }

#response {
  margin-top: 30px; }
  #response .HTTP {
    padding-left: 14px;
    font-size: 88%;
    padding: 10px 15px 7px 15px;
    border-radius: 6px;
    display: inline-block; }
  #response .OK {
    color: #2db72d;
    border: 1px solid #91ca8a;
    background-color: #b5e2af; }
  #response .Warning {
    color: #83841d;
    border: 1px solid #d9da32;
    background-color: #f2f372; }
  #response .Error {
    color: #a21e1e;
    border: 1px solid #bd7070;
    background-color: #f59f9f; }

#organization {
  padding: 30px 30px 20px 25px;
  font-size: 140%; }
  #organization #headline {
    padding-bottom: 30px;
    color: #999; }
    #organization #headline #language {
      display: inline-block;
      margin-top: 2px;
      font-size: 60%;
      vertical-align: top;
      background-color: #ddd;
      padding: 2px 4px;
      border-radius: 4px; }
    #organization #headline #I18NText {
      display: inline-block;
      font-size: 170%; }
    #organization #headline #description {
      display: none;
      font-size: 60%; }
  #organization #upperButtons {
    /*        text-align:     right;

        button {
            border:         0;
            white-space:    nowrap;
            color:          #6b6b6b;
            padding:        8px 14px;
            margin:         10px 0 15px 0;
            border-radius:  5px;
            font-size:      70%;
        }*/ }
    #organization #upperButtons button i:first-child {
      margin-right: 2px;
      font-size: 75%; }
  #organization #subOrganizations .subOrganization {
    padding: 10px 10px;
    background-color: #e1e1e1;
    border-bottom: solid 1px #eeeeee;
    cursor: pointer; }
    #organization #subOrganizations .subOrganization .frame {
      display: flex; }
      #organization #subOrganizations .subOrganization .frame .avatar {
        padding-right: 1vw; }
        #organization #subOrganizations .subOrganization .frame .avatar img {
          width: 4vw; }
      #organization #subOrganizations .subOrganization .frame .info {
        width: 100%;
        padding-right: 1vw; }
        #organization #subOrganizations .subOrganization .frame .info .name {
          margin: 10px 0px; }
          #organization #subOrganizations .subOrganization .frame .info .name .I18NLanguage {
            display: inline-block;
            font-size: 50%;
            background-color: #CCCCCC;
            padding: 3px 4px;
            border-radius: 3px;
            margin: 2px 8px 0px 0px;
            vertical-align: top; }
          #organization #subOrganizations .subOrganization .frame .info .name .I18NValue {
            display: inline-block; }
        #organization #subOrganizations .subOrganization .frame .info .email {
          font-size: 70%;
          color: #777;
          margin-top: 5px;
          white-space: nowrap; }
          #organization #subOrganizations .subOrganization .frame .info .email i {
            font-size: 95%; }
          #organization #subOrganizations .subOrganization .frame .info .email a {
            text-decoration: none;
            color: #777; }
        #organization #subOrganizations .subOrganization .frame .info .description {
          margin-top: 5px;
          font-size: 65%; }
          #organization #subOrganizations .subOrganization .frame .info .description .I18NLanguage {
            display: inline-block;
            font-size: 50%;
            background-color: #CCCCCC;
            padding: 3px 4px;
            border-radius: 3px;
            margin: 2px 8px 0px 0px;
            vertical-align: top; }
          #organization #subOrganizations .subOrganization .frame .info .description .I18NValue {
            display: inline-block; }
        #organization #subOrganizations .subOrganization .frame .info .properties {
          display: table;
          margin-top: 8px;
          font-size: 75%; }
          #organization #subOrganizations .subOrganization .frame .info .properties .property {
            display: table-row; }
            #organization #subOrganizations .subOrganization .frame .info .properties .property .key {
              display: table-cell;
              padding: 0px 15px 3px 0px; }
            #organization #subOrganizations .subOrganization .frame .info .properties .property .value {
              display: table-cell;
              padding: 0px 0px 3px 0px; }
      #organization #subOrganizations .subOrganization .frame .tools {
        text-align: right;
        margin-right: 0.5vw; }
  #organization #subOrganizations .subOrganization:hover {
    background-color: rgba(255, 115, 0, 0.2); }
  #organization .subOrganizations .member:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  #organization .subOrganizations .member:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 4px; }
  #organization #data {
    margin-left: 15px;
    width: 100%; }
    #organization #data .row {
      width: 100%; }
      #organization #data .row .key {
        padding: 8px 42px 8px 0;
        white-space: nowrap;
        color: #666;
        vertical-align: top; }
      #organization #data .row .value {
        width: 100%; }
      #organization #data .row .memberGroup .member {
        padding: 10px 10px;
        background-color: #e1e1e1;
        border-bottom: solid 1px #eeeeee;
        cursor: pointer; }
        #organization #data .row .memberGroup .member .frame {
          display: flex; }
          #organization #data .row .memberGroup .member .frame .avatar {
            padding-right: 1vw; }
            #organization #data .row .memberGroup .member .frame .avatar img {
              width: 4vw; }
          #organization #data .row .memberGroup .member .frame .info {
            width: 100%;
            padding-right: 1vw; }
            #organization #data .row .memberGroup .member .frame .info .name {
              margin: 10px 0px; }
              #organization #data .row .memberGroup .member .frame .info .name .I18NLanguage {
                display: inline-block;
                font-size: 50%;
                background-color: #CCCCCC;
                padding: 3px 4px;
                border-radius: 3px;
                margin: 2px 8px 0px 0px;
                vertical-align: top; }
              #organization #data .row .memberGroup .member .frame .info .name .I18NValue {
                display: inline-block; }
            #organization #data .row .memberGroup .member .frame .info .email {
              font-size: 70%;
              color: #777;
              margin-top: 5px;
              white-space: nowrap; }
              #organization #data .row .memberGroup .member .frame .info .email i {
                font-size: 95%; }
              #organization #data .row .memberGroup .member .frame .info .email a {
                text-decoration: none;
                color: #777; }
            #organization #data .row .memberGroup .member .frame .info .description {
              margin-top: 5px;
              font-size: 90%; }
              #organization #data .row .memberGroup .member .frame .info .description .I18NLanguage {
                display: inline-block;
                font-size: 50%;
                background-color: #CCCCCC;
                padding: 3px 4px;
                border-radius: 3px;
                margin: 2px 8px 0px 0px;
                vertical-align: top; }
              #organization #data .row .memberGroup .member .frame .info .description .I18NValue {
                display: inline-block; }
            #organization #data .row .memberGroup .member .frame .info .properties {
              display: table;
              margin-top: 8px;
              font-size: 75%; }
              #organization #data .row .memberGroup .member .frame .info .properties .property {
                display: table-row; }
                #organization #data .row .memberGroup .member .frame .info .properties .property .key {
                  display: table-cell;
                  padding: 0px 15px 3px 0px; }
                #organization #data .row .memberGroup .member .frame .info .properties .property .value {
                  display: table-cell;
                  padding: 0px 0px 3px 0px; }
          #organization #data .row .memberGroup .member .frame .tools {
            text-align: right;
            margin-right: 0.5vw; }
      #organization #data .row .memberGroup .member:hover {
        background-color: rgba(255, 115, 0, 0.2); }
      #organization #data .row .memberGroup .member:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px; }
      #organization #data .row .memberGroup .member:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        margin-bottom: 4px; }

.I18N select {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 1px;
  border: 0;
  border-radius: 4px 4px 0px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 80%; }

.I18N textarea {
  width: calc(100% - 16px);
  padding: 6px 8px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0px 0px 4px 4px;
  vertical-align: top;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 90%;
  resize: vertical; }
