@import "../defaults/_defaults.scss";

body {
    #page {
        #right {
            #text {
                #AddOrEditNotification {

                    padding:            30px 30px 20px 25px;
                    font-size:          120%;

                    #buttons {

                        #RemoveButton {
                            display:            none;
                        }

                        #SaveButton {
                            display:            none;
                        }

                    }

                    #notification {

                        display:            table;
                        border-spacing:     0px 1px;
                        margin-left:        15px;

                        .rowGroup {
                            display:        table-row-group;
                        }

                        .row {

                            display:            table-row;

                            .key {
                                display:                     table-cell;
                                padding:                     0px 3vw 0px 0px;
                                white-space:                 nowrap;
                            }

                            .keyTop {
                                vertical-align:             top;
                                padding-top:                7px;
                            }

                            .value {

                                display:                    table-cell;
                                padding:                    2px 0px;
                                white-space:                nowrap;
                                width:                      100%;

                                input, textarea, select {
                                    background-color:       rgba(255, 255, 255, .7);
                                    padding:                6px 8px;
                                    border:                 0px;
                                    border-radius:          4px;
                                    color:                  #777;
                                    font-size:              90%;
                                    width:                  calc(100% - 16px);
                                }

                                select {
                                    min-width:              100%;
                                }

                                textarea {
                                    display:            block;
                                    resize:             vertical;
                                    min-height:         100px;
                                    font-family:        "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
                                }

                                input[type=checkbox] {
                                    width:              30px;
                                    height:             18px;
                                    margin-top:         8px;
                                }

                                input[type=checkbox]:checked {
                                    color:              $NavigationBackground;
                                }

                                input:focus, textarea:focus {
                                    outline-color:      $NavigationBackground;
                                    border-color:       $NavigationBackground;
                                    box-shadow:         0 0 6px $NavigationBackground;
                                    background:         rgb(245, 238, 227);
                                }

                                input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                    color:          #b3b2b2;
                                    font-size:      80%;
                                    font-style:     italic;
                                }

                                input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
                                    color:          #b3b2b2;
                                    font-size:      80%;
                                    font-style:     italic;
                                }

                                input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
                                    color:          #b3b2b2;
                                    font-size:      80%;
                                    font-style:     italic;
                                }

                                input:-moz-placeholder, textarea::-moz-placeholder { /* Firefox 18- */
                                    color:          #b3b2b2;
                                    font-size:      80%;
                                    font-style:     italic;
                                }

                                .messageTypeGroups {

                                    border-radius:      4px;
                                    color:              #666;
                                    user-select:        none;

                                    .messageTypeGroup {

                                        padding:            6px 4px;
                                        background-color:   rgba(255,255,255,.7);
                                        margin-bottom:      1px;

                                        .headline {

                                            cursor:         pointer;

                                            .title {
                                                font-size:      95%;
                                                padding:        1px 0 0 7px;
                                            }

                                            .description {
                                                font-size:      70%;
                                                padding:        1px 2px 7px 8px;
                                            }

                                        }

                                        .messageTypes
                                        {

                                            background-color:   rgba(255,255,255,.7);
                                            border-radius:      5px;

                                            .messageType {

                                                display:        flex;
                                                font-size:      80%;
                                                padding:        5px 8px;
                                                cursor:         pointer;
                                                color:          #888888;

                                                i {
                                                    color:          rgba(0, 0, 0, .1);
                                                    padding:        4px 7px 0px 9px;
                                                }

                                                i.on {
                                                    color:          #67af21;
                                                }

                                                .text {

                                                    display:            flex;
                                                    flex-direction:     column;
                                                    padding:            2px 0px 1px 0px;

                                                    .title {

                                                        font-size:      100%;

                                                        .systemNotification {
                                                            background-color:   #ef9b9b;
                                                            color:              #a85252;
                                                            font-size:          80%;
                                                            border-radius:      3px;
                                                            padding:            2px 4px;
                                                            margin-left:        10px;
                                                        }

                                                        .adminNotification {
                                                            background-color:   #ffb364;
                                                            color:              #d18230;
                                                            font-size:          80%;
                                                            border-radius:      3px;
                                                            padding:            2px 4px;
                                                            margin-left:        10px;
                                                        }

                                                    }

                                                    .description {
                                                        font-size:      70%;
                                                    }

                                                }

                                            }

                                            .messageType.on {
                                                color:          #000000;
                                            }

                                            .messageType:hover {
                                                background-color:   rgba(0, 0, 0, 0.08);
                                            }

                                        }

                                        .messageTypes:hover
                                        {
                                            background-color:   rgba(255,255,255,1);
                                        }

                                    }

                                    .messageTypeGroup:hover {
                                        background-color:  rgba(0, 0, 0, 0.08);
                                        color:             #000;
                                    }

                                }

                                .messageTypeGroups .messageTypeGroup:first-child {
                                    border-top-left-radius:         6px;
                                    border-top-right-radius:        6px;
                                }

                                .messageTypeGroups .messageTypeGroup:last-child {
                                    border-bottom-left-radius:      6px;
                                    border-bottom-right-radius:     6px;
                                }

                            }

                        }

                    }

                }
            }
        }
    }
}
