/*background: lighten($bg-color, 10%);*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
#notificationinfos {
  position: relative;
  padding: 30px 30px 20px 25px;
  font-size: 140%; }
  #notificationinfos .headline {
    font-size: 180%;
    padding-bottom: 25px;
    color: #999; }
  #notificationinfos #notifications {
    display: table;
    padding: 15px 0px 5px 20px;
    font-size: 90%;
    border-collapse: separate;
    border-spacing: 4px; }
    #notificationinfos #notifications .row {
      display: table-row;
      width: 100%; }
      #notificationinfos #notifications .row .key {
        display: table-cell;
        padding: 0px 42px 0px 0px;
        white-space: nowrap;
        color: #666; }
      #notificationinfos #notifications .row .value {
        display: table-cell;
        width: inherit;
        background-color: #fafafa;
        padding: 6px 10px;
        border-radius: 5px;
        color: #777; }
        #notificationinfos #notifications .row .value .info {
          color: #AAA;
          font-size: 85%;
          display: block; }
        #notificationinfos #notifications .row .value input, #notificationinfos #notifications .row .value textarea, #notificationinfos #notifications .row .value select {
          background-color: rgba(255, 255, 255, 0.7);
          width: calc(100% - 16px);
          padding: 6px 8px;
          border: 0px;
          border-radius: 4px;
          color: #777;
          font-size: 100%; }
        #notificationinfos #notifications .row .value textarea {
          resize: vertical;
          min-height: 100px;
          display: block; }
        #notificationinfos #notifications .row .value input[type=checkbox] {
          width: 30px;
          height: 18px;
          margin-top: 8px; }
        #notificationinfos #notifications .row .value input[type=checkbox]:checked {
          color: #cc2d7b; }
        #notificationinfos #notifications .row .value input:focus, #notificationinfos #notifications .row .value textarea:focus {
          outline-color: #cc2d7b;
          border-color: #cc2d7b;
          box-shadow: 0 0 6px #cc2d7b;
          background: #f5eee3; }
  #notificationinfos #messages {
    padding-left: 20px;
    padding-bottom: 40px;
    font-size: 90%; }
    #notificationinfos #messages .message {
      margin-top: 23px; }
      #notificationinfos #messages .message .messageType {
        padding: 2px 42px 2px 0px;
        white-space: nowrap;
        color: #d27c40; }
      #notificationinfos #messages .message .notifications {
        display: table;
        padding-left: 15px;
        padding-top: 5px;
        border-collapse: separate;
        border-spacing: 3px; }
        #notificationinfos #messages .message .notifications .row {
          display: table-row;
          width: 100%; }
          #notificationinfos #messages .message .notifications .row .key {
            display: table-cell;
            min-width: 10vw;
            padding: 2px 10px 2px 0px;
            white-space: nowrap;
            color: #666; }
          #notificationinfos #messages .message .notifications .row .value {
            display: table-cell;
            width: inherit;
            background-color: #fafafa;
            padding: 6px 10px;
            border-radius: 5px;
            color: #777; }
            #notificationinfos #messages .message .notifications .row .value .info {
              color: #AAA;
              font-size: 85%;
              display: block; }

