@import "../defaults/defaults.scss";

#changePasswordInfos {

    position:               relative;
    padding:                30px 30px 20px 25px;
    font-size:              140%;

    .headline {
        font-size:          180%;
        padding-bottom:     25px;
        color:              #999;
    }

    #changePassword {

        display:                table;
        padding:                0px 0px 0px 20px;
        font-size:              90%;
        border-collapse:        separate;
        border-spacing:         5px;

        .row {

            display:                table-row;
            width:                  100%;

            .key {
                display:                table-cell;
                padding:                0px 42px 0px 0px;
                white-space:            nowrap;
                color:                  #666;
            }

            .value {

                display:                table-cell;
                width:                  inherit;

                input {
                    background-color:   rgba(255, 255, 255, 0.7);
                    width:              calc(100% - 16px);
                    padding:            6px 10px;
                    border:             0px;
                    border-radius:      4px;
                    color:              #777;
                    font-size:          100%;
                }

                input:focus {

                    outline-color:      $NavigationBackground;
                    border-color:       $NavigationBackground;
                    box-shadow:         0 0 6px $NavigationBackground;
                    background:         rgb(245, 238, 227);

                }

                #language {
                    margin-bottom:      1px;
                }

            }

        }

    }

}

#response {
    display:        none;
    margin-top:     50px;
}

#saveButton {
    margin-top:     40px;
}
