/*background: lighten($bg-color, 10%);*/
/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
.fa, .far, .fas {
  font-style: normal; }

#newSubOrganization {
  padding: 30px 30px 20px 25px;
  font-size: 140%; }
