@import "../defaults/_defaults.scss";

#organization {

    position:               relative;
    padding:                30px 30px 20px 25px;
    font-size:              140%;

    #data {
        .row {
            .organizationsList {

                display:                flex;
                flex-wrap:              wrap;
                padding-top:            7px;

                .organization {
                    background-color:   rgba(248, 248, 248, 1);
                    padding:            4px 8px;
                    margin:             2px;
                    border:             0;
                    border-radius:      3px;
                }

                .organization:hover {
                    background-color:   rgba(255, 115, 0, 0.2);
                }

            }
        }
    }

}
