/*$CITMBlue:                  rgba( 86, 132, 204,   1);*/
/*$CITMGray:                  rgba(143, 145, 149,   1);*/
body {
  margin: 0px;
  overflow: hidden;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

#loginframe {
  position: fixed;
  background: url("/images/dummy-user-gray-150x150.png");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#logindiv {
  position: relative;
  left: 0px;
  top: 50%;
  width: 30vw;
  margin: auto;
  margin-top: -13%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3); }
  #logindiv .frame {
    margin: 20px; }
  #logindiv .frame2 {
    padding: 40px 0px 0px 0px; }
  #logindiv #headline {
    background-color: #cc2d7b;
    border-radius: 8px 8px 0px 0px;
    padding: 20px 10px;
    color: #ffffff;
    text-align: center;
    font-size: 150%;
    letter-spacing: 6px;
    margin-bottom: 50px; }
  #logindiv .input {
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    padding: 0px;
    background-color: transparent; }
    #logindiv .input input {
      border: 0;
      width: calc(100% - 20px);
      padding: 7px 10px;
      font-size: 140%;
      color: #888888;
      float: left;
      border-radius: 6px; }
    #logindiv .input i {
      font-size: 140%;
      color: #bbbbbb;
      position: absolute;
      top: 9px;
      right: 12px; }
  #logindiv #realm {
    display: none; }
  #logindiv #checks {
    color: #bbbbbb; }
    #logindiv #checks #RememberMe {
      display: inline-block;
      padding-left: 10px;
      float: left; }
      #logindiv #checks #RememberMe input {
        transform: scale(1.4); }
      #logindiv #checks #RememberMe p {
        font-size: 100%;
        display: inline-block;
        padding-left: 8px;
        margin: 0; }
    #logindiv #checks a {
      padding-top: 4px;
      font-size: 80%;
      color: #bbbbbb;
      text-decoration: none;
      float: right; }
    #logindiv #checks a:hover {
      color: #777777; }
  #logindiv #errors {
    display: none;
    background-color: #e6b7b7;
    color: #bf1a1a;
    border: 1px solid #d88a8a;
    border-radius: 6px;
    margin: 10px 20px;
    padding: 10px 15px;
    font-size: 90%; }
  #logindiv #button input {
    width: 100%;
    background-color: #cc2d7b;
    border: 0;
    border-radius: 6px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 120%;
    letter-spacing: 3px; }
  #logindiv #copyright {
    text-align: center;
    color: #ddd;
    font-size: 75%;
    padding: 50px 0px 9px 0px; }
    #logindiv #copyright a {
      text-decoration: none;
      color: #ddd; }
    #logindiv #copyright a:hover {
      color: #888; }

@media only screen and (max-width: 900px) {
  #login {
    width: 45vw; } }

