@import "../defaults/defaults.scss";

body {

    margin:                 0px;
    overflow:               hidden;
    font-family:            "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

    #loginframe {

        position:               fixed;
        background-image:       url("/login/background.jpg");
        background-position:    center;
        background-size:        cover;
        top:                    0;
        left:                   0;
        width:                  100%;
        height:                 100%;

        #logindiv {

            position:               relative;
            left:                   0px;
            top:                    50%;
            width:                  30vw;
            margin:                 auto;
            margin-top:             -13%;
            background-color:       rgb(255, 255, 255);
            border-radius:          8px;
            box-shadow:             2px 0 16px 0 rgba(0, 0, 0, 0.3);

            #loginform {

                .frame {
                    margin:             10px 20px;
                    display:            flex;
                }

                .frame2 {
                    padding:            40px 0px 0px 0px;
                }

                #headline {

                    background-color:   $NavigationBackground;
                    border-radius:      8px 8px 0px 0px;
                    padding:            20px 10px;
                    color:              #ffffff;
                    text-align:         center;
                    font-size:          150%;
                    letter-spacing:     6px;
                    margin-bottom:      50px;

                }

                .input {

                    position:           relative;
                    border-radius:      6px;
                    padding:            0px;
                    background-color:   transparent;
                    font-size:          140%;

                    .in {

                        display:        inline-block;
                        /*width:          inherit;*/
                        flex-basis:     100%;
                        border-radius:  6px;

                        input {
                            border:             0;
                            width:              calc(100% - 10px);
                            padding:            7px 40px 7px 10px;
                            font-size:          100%;
                            color:              #888;
                            border-radius:      6px;
                            border:             1px solid #bbb;
                        }

                    }

                    .icon {

                        display:            inline-block;
                        width:              46px;
                        text-align:         center;

                        i {
                            color:          #bbb;
                            font-size:      100%;
                            position:       absolute;
                            top:            9px;
                            right:          12px;
                        }

                    }

                }

                input::placeholder {
                    color:          #AAAAAA;
                    font-style:     italic;
                    font-size:      95%;
                }

                #realm {
                    display:                none;
                }

                #checks {

                    padding:                20px 20px 0px 0px;
                    color:                  #bbbbbb;
                    text-align:             right;
                    margin-bottom:          4px;

                    #RememberMe {

                        display:            inline-block;
                        padding-left:       10px;
                        float:              left;

                        input {
                            transform:      scale(1.4);
                        }

                        p {
                            font-size:      100%;
                            display:        inline-block;
                            padding-left:   8px;
                            margin:         0;
                        }

                    }

                    a {
                        font-size:          80%;
                        color:              #bbbbbb;
                        text-decoration:    none;
                    }

                }

                #response {

                    display:                none;
                    margin:                 40px 20px -20px 20px;
                    border-radius:          6px;
                    padding:                15px 10px;
                    font-size:              90%;

                    i {
                        font-size:          150%;
                        position:           relative;
                        top:                2px;
                        margin-right:       5px;
                        margin-left:        5px;
                        margin-bottom:      4px;
                    }

                }

                .responseError {
                    border:                 1px solid #d88a8a;
                    background-color:       #e6b7b7;
                    color:                  #bf1a1a;
                }

                .responseOk {
                    border:                 1px solid #9bd88a;
                    background-color:       #ceeac2;
                    color:                  #1abf28;
                }

                /* SPIN */
                @-webkit-keyframes spin {
                    0% {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }

                    100% {
                        -webkit-transform: rotate(359deg);
                        transform: rotate(359deg);
                    }
                }

                @keyframes spin {
                    0% {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }

                    100% {
                        -webkit-transform: rotate(359deg);
                        transform: rotate(359deg);
                    }
                }

                .faa-spin.animated,
                .faa-spin.animated-hover:hover,
                .faa-parent.animated-hover:hover > .faa-spin {
                    -webkit-animation: spin 1.5s linear infinite;
                    animation: spin 1.5s linear infinite;
                }

                .faa-spin.animated.faa-fast,
                .faa-spin.animated-hover.faa-fast:hover,
                .faa-parent.animated-hover:hover > .faa-spin.faa-fast {
                    -webkit-animation: spin 0.7s linear infinite;
                    animation: spin 0.7s linear infinite;
                }

                .faa-spin.animated.faa-slow,
                .faa-spin.animated-hover.faa-slow:hover,
                .faa-parent.animated-hover:hover > .faa-spin.faa-slow {
                    -webkit-animation: spin 2.2s linear infinite;
                    animation: spin 2.2s linear infinite;
                }


                .loginbuttons {

                    input {

                        width:              100%;
                        background-color:   $NavigationBackground;
                        border:             0;
                        border-radius:      6px;
                        padding:            10px 20px;
                        color:              #ffffff;
                        font-size:          120%;
                        letter-spacing:     3px;

                    }

                    .error {
                        color:              #fdefe4;
                        background-color:   #fddec5;
                    }

                }

                #loginButton {
                    margin-top:         0px;
                }

                #resetPasswordButton {
                    margin-top:         50px;
                }

                #setPasswordButton {
                    margin-top:         50px;
                }

                #gotoLoginButton {

                    margin-top:         50px;

                    input {
                        /*align-items:        flex-start;*/
                        text-align:         center;
                        box-sizing:         border-box;
                    }

                }

                #copyright {

                    text-align:         center;
                    color:              #cccccc;
                    font-size:          80%;
                    padding:            50px 0px 9px 0px;

                }


            }

        }

    }


    #EULA {

        display:           none;
        position:          fixed;
        top:               0;
        left:              0;
        bottom:            0;
        right:             0;
        background-color:  rgba(0, 0, 0, .8);
        z-index:           4000;

        #frame {

            background-color:  #e8d6c6;
            margin:            100px;
            height:            calc(100% - 200px);
            width:             calc(100% - 200px);
            border:            8px solid #ff7300;
            border-radius:     20px;
            padding:           20px 10px 20px 30px;

            #page {

                width:              100%;
                height:             100%;
                overflow-y:         scroll;
                flex-direction:     column;

                #AcceptFrame {

                    text-align:         center;
                    margin:             20px;

                    #IAccept {

                        display:            inline-block;
                        cursor:             pointer;
                        margin:             40px 0 0px 0;
                        padding:            20px 40px 25px 32px;
                        border:             1px solid rgba(117, 96, 78, 0.5);
                        border-radius:      4px;
                        color:              rgb(117, 96, 78);
                        background-color:   #e2c9b3;
                        font-size:          110%;

                        i {
                            color:          rgba(0, 0, 0, 0.1);
                            font-size:      175%;
                            margin-right:   10px;
                            position:       relative;
                            top:            3px;
                        }

                        i.accepted {
                            color:          rgb(57, 195, 49);
                            text-shadow:    1px 1px 6px #999;
                        }

                    }

                }

                #buttons {

                    text-align:     center;
                    margin:         30px;

                    #acceptEULAButton {

                        font-size:          150%;
                        background:         #ffba83;
                        background-image:   linear-gradient(to bottom, #ffc99e77, #ffba8377);
                        color:              #d4a07c;
                        padding:            4px 20px;
                        margin-left:        5px;
                        border-radius:      4px;
                        border:             0;
                        box-shadow:         1px 1px 6px #999;

                    }

                    #acceptEULAButton.accepted {
                        background-image:   linear-gradient(to bottom, #ffc99e, #ffba83);
                        box-shadow:         2px 2px 6px #999;
                        color:              #b36630;
                    }

                }

            }

        }

    }


    #AdditionalAuthenticationFactor {

        display:           none;
        position:          fixed;
        top:               0;
        left:              0;
        bottom:            0;
        right:             0;
        background-color:  rgba(0, 0, 0, .8);
        z-index:           4000;

        #frame {

            background-color:  #e8d6c6;
            margin:            100px;
            height:            calc(100% - 200px);
            width:             calc(100% - 200px);
            border:            8px solid #ff7300;
            border-radius:     20px;
            padding:           20px 10px 20px 30px;

            #page {

                width:       100%;
                height:      100%;
                overflow-y:  scroll;

            }

        }

    }

}

/* iPhone 6-8 in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    body {
        #loginframe {
            #logindiv {

                width:      80vw;
                top:        42vh;
                font-size:  175%;

                #loginform {

                    #headline {
                        margin-bottom: 75px;
                    }

                    .frame {
                        margin: 15px 40px;
                    }

                    .input {

                        height:             75px;
                        font-size:          160%;

                        .in {
                            input {
                                padding:            12px 20px;
                                width:              calc(100% - 42px);
                            }
                        }

                        .icon {
                            i {
                                top:                12px;
                            }
                        }

                    }




                    #button {

                        margin-top: 50px;

                        input {
                            padding:    15px 20px;
                            font-size:  180%;
                        }

                    }

                    #copyright {
                        padding-bottom: 15px;
                    }

                }
            }
        }
    }
}

/* iPhone 6-8 in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    body {
        #loginframe {
            #logindiv {
                width: 50vw;
                top: 30vh;
                font-size: 110%;
            }
        }
    }
}

/* iPad in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body {
        #loginframe {
            #logindiv {
                width: 60vw;
                top: 45vh;
                font-size: 150%;
            }
        }
    }
}

/* iPad in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    body {
        #loginframe {
            #logindiv {
                width: 50vw;
                top: 40vh;
                font-size: 100%;
            }
        }
    }
}
