@import "defaults/defaults.scss";

body {

    background-color:       #EEEEEE;
    margin:                 0;
    padding:                0;
    /*font-family:          'Marko One', serif;*/
    /*font-family:            Arial, helvetica, Verdana, "Trebuchet MS", sans-serif;*/
    font-family:            "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:              12px;

}

#logodiv {

    position:                    fixed;
    top:                         0px;
    left:                        0px;
    height:                      $TopbarHeight;
    width:                       calc(#{$NavigationWidth} + #{$SubnavigationWidth});
    z-index:                     2000;
    background-color:            rgb(238, 238, 238);
    display:                     flex;
    justify-content:             center;
    align-items:                 center;

    #logopic {
        width:                   calc(#{$NavigationWidth} + #{$SubnavigationWidth} * 0.52);
    }

}

#top {

    position:                   fixed;
    background-color:           $NavigationBackground;
    top:                        0px;
    left:                       calc(#{$NavigationWidth});
    width:                      calc(100% - #{$NavigationWidth} - 10px);
    height:                     $TopbarHeight;
    text-align:                 right;
    padding-right:              20px;
    z-index:                    1000;
    box-shadow:                 2px 0 16px 0 rgba(0,0,0,.3);
    display:                    flex;
    align-items:                center;
    justify-content:            flex-end;

    #username {
        display:                inline-block;
        color:                  $NavigationTextColor;
        padding-top:            2px;
        padding-right:          20px;
        font-size:              120%;
    }

    #admin {
        display:                none;
    }

    a {

        padding:                0px 12px;
        height:                 $TopbarHeight;
        display:                flex;
        align-items:            center;
        text-decoration:        none;

        i {
            color:              $NavigationTextColor;
            font-size:          180%;
        }

    }

    a:hover {

        color:               $NavigationTextHover;
        background-color:    $NavigationBackHover;

    }

}

#navigation {

    position:                   fixed;
    top:                        $TopbarHeight;
    left:                       0;
    height:                     calc(100% - #{$TopbarHeight});
    width:                      $NavigationWidth;
    z-index:                    1000;
    overflow:                   hidden;
    padding-top:                20px;
    background-color:           $NavigationBackground;
    box-shadow:                 2px 0 16px 0 rgba(0, 0, 0, 0.3);

    .menu {

        color:                  $NavigationMenuColor;
        padding-left:           12px;
        font-size:              120%;
        font-weight:            bold;

    }

    ul {

        list-style:             none;
        padding:                0;
        margin:                 6px 0 20px 0;

        li {

            a {

                color:              $NavigationTextColor;
                font-size:          15px;
                line-height:        36px;
                text-decoration:    none;
                font-weight:        normal;

                i {

                    font-size:      140%;
                    width:          $NavigationWidth;
                    line-height:    50px;
                    text-align:     center;

                }

            }

        }

        li:hover {

            color:               $NavigationTextHover;
            background-color:    $NavigationBackHover;

            a {
                color: $NavigationTextHover;
            }

        }

        li.active {
            background-color:    $NavigationBackActive;
        }

    }

    @media only screen and (max-width: 512px) {
        padding-right:      0px;
    }

}

.subnavigation {

    position:                   fixed;
    top:                        $TopbarHeight;
    left:                       $NavigationWidth;
    height:                     calc(100% - #{$TopbarHeight});
    width:                      $SubnavigationWidth;
    z-index:                    900;
    overflow:                   hidden;
    padding-top:                20px;
    background-color:           $SubnavigationBackground;
    box-shadow:                 2px 0 16px 0 rgba(0, 0, 0, 0.3);
    display:                    none;

    ul {

        list-style:             none;
        padding:                0;
        margin:                 6px 0 20px 0;

        li {
            a {
                color:              $SubnavigationTextColor;
                font-size:          15px;
                line-height:        36px;
                text-decoration:    none;
                font-weight:        normal;
                padding-left:       18px;
                width:              calc(#{$SubnavigationWidth} - 20px);
                display:            block;
            }
        }

        li:hover {

            background-color:    $SubnavigationBackHover;

            a {
                color: $SubnavigationTextHover;
            }

        }

        li.small {
            a {
                font-size:             70%;
                color: #ff0000;
            }
        }

        li.active {
            background-color:    $NavigationSubBackActive;
        }

    }

}

#text {

    position:               absolute;
    top:                    $TopbarHeight;
    left:                   calc(#{$NavigationWidth} + #{$SubnavigationWidth} - 10px);
    padding:                10px 8px 10px 25px;
    min-width:              calc(100% - #{$NavigationWidth} - #{$SubnavigationWidth} - 40px);
    /*min-height:             calc(100% - 40px - 20px);*/

    @media only screen and (max-width: 512px) {
        padding-right:      10px;
    }

}






#wrapper {
    position:               relative;
    background-color:       #FEFEFE;
    padding:                8px;
    margin:                 20px 50px 15px 50px;
    border-radius:          6px;
}

#logo {
    padding:                22px 0px 14px 25px;
}

#mainmenu {
    height:                 35px;
    margin-left:            15px;
    margin-right:           15px;
    background:             transparent url(/images/main_menu_bg_2x33.gif);
    background-repeat:      repeat-x;
    text-transform:         uppercase;
    padding-top:            8px;
}

#mainmenu a {
    color:                  #000000;
    text-decoration:        none;
    padding-left:           20px;
    padding-right:          20px;
}

.linkpadding {
    color:                  #000000;
    padding-left:           20px;
    padding-right:          20px;
}

#mainmenu a:hover {
    color:                  #af0917;
}

#links {
    padding:                20px 35px 10px 35px;
    font-size:              16px;
}

#links a {
    color:                  #000000;
    text-decoration:        none;
}

#links a:hover {
    color:                  #af0917;
}

#links ul li 
{
    list-style:             circle outside url('/images/BBBulletpoint_small.png');
    margin-left :           10px;
    margin-top :            3px;
}



select[disabled] {
    color:          #CCCCCC;
    border-color:   #CCCCCC;
    font-style:     italic;
}

span.hidden {
    display:        none;
}

.admin {
    display:        none;
    color:          green;
    background-color: yellowgreen;
}
